.dashboard-restaurant-create {
    height: calc(100vh - 97px);

    .dashboard-header-restaurant-create {

        background-color: #101927;
        padding: 10px;
        border-bottom: 1px solid $gold;

            h1 {
                color: #e3e8f1;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 25px;
            }
    }

    .dashboard-body-restaurant-create {
        display: flex;
        height: calc(100vh - 97px - 51px);

        .dashboard-body-menu-restaurant-create {
            flex-basis: 20%;
            background-color: #101927;
            border-right: 1px solid $gold;



            ul{

                li {

                    border-bottom: 1px solid $gold;
                    padding: 15px;

                    a{
                        color: #e3e8f1;
                        font-size: 20px;
                        text-decoration: none;

                        &:hover {

                            color: $gold;

                        }
                    }
                }
            }
        }
    }

    .dashboard-body-content-restaurant-create {
        background-image: url('/images/interni-rossi.jpg');
        background-size: cover;
        background-position: bottom;
        display: flex;
        flex-basis: 80%;
        justify-content: center;
        align-items: center;


        .card-form-restaurant-create {
            width: 90%;
            background: rgba(255, 255, 255, 0.6);
            border-radius: 10px;
            border: 1px solid $gold;

            .card-title-restaurant-create {
                text-align: center;
                padding: 30px 0;
                font-size: 15px;
                text-transform: uppercase;
                color: #101927;
                font-weight: bold;
            }

            form {

                .content-form-restaurant-create{

                    text-align: center;
                    padding: 0 10px;

                    h3 {
                        color: #101927;
                        font-size: 15px;
                        text-align: left;
                        font-weight: bold;
                        margin: 10px 0;
                    }

                    .content-form-input-restaurant-create {

                        input {
                            padding: 10px 0;
                            width: 100%;
                            border-radius: 5px;
                            background-color: #101927;
                            border: 1px solid $gold;
                            color: #fff;
                        }
                    }

                    .content-form-category-restaurant-create {

                        padding: 10px;
                        // margin: 10px 0;
                        font-size: 14px;
                        border-radius: 5px;
                        background-color: #101927;
                        border: 1px solid $gold;
                        color: #fff;


                        input {
                            border: 1px solid #101927;
                            border-radius: 5px;
                        }

                        .form-check-restaurant-create {
                            display: flex;


                            input {


                            }

                            label {
                                padding-left: 10px;
                            }
                        }
                    }

                    .content-form-file-restaurant-create {

                        margin: 20px 0;
                        text-align: left;
                        color: #fff;


                        input {
                            background-color: #101927;
                            border: 1px solid $gold;
                            border-radius: 5px;
                            width: 100%;
                        }

                    }

                    button {
                        background: #fff;
                        color: #101927;
                        text-transform: uppercase;
                        border: 1px solid $gold;
                        padding: 10px;
                        border-radius: 10px;
                        font-weight: 700;
                        cursor: pointer;
                        transition: 1s;
                        margin-bottom: 10px;
                        transition: all 0.5s ease-in-out;

                        &:hover {
                            color: #fff;
                            background-color: $gold;
                            letter-spacing: 3px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .dashboard-restaurant-create {

        .dashboard-header-restaurant-create {



                h1 {

                }
        }


        .dashboard-body-restaurant-create {

            display: flex;


            .dashboard-body-menu-restaurant-create {




                ul{

                    li {



                        a{


                            &:hover {



                            }
                        }
                    }
                }
            }
        }

        .dashboard-body-content-restaurant-create {

            flex-basis: 80%;

            .card-form-restaurant-create {

                width: 70%;
                margin: 20px auto;


                .card-title-restaurant-create {

                }

                form {

                    .content-form-restaurant-create{



                        h3 {

                        }

                        .content-form-input-restaurant-create {

                            input {

                            }
                        }


                        .content-form-file-restaurant-create {



                            input {

                            }

                        }

                        .content-form-category-restaurant-create {




                            input {

                            }

                            .form-check-restaurant-create {



                                input {


                                }

                                label {

                                }
                            }
                        }

                        button {


                            &:hover {

                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {

    .dashboard-restaurant-create {

        .dashboard-header-restaurant-create {



                h1 {

                }
        }


        .dashboard-body-restaurant-create {

            display: flex;
            height: calc(100vh - 100px - 48px);

            .dashboard-body-menu-restaurant-create {

                flex-basis: 20%;

                ul{

                    li {



                        a{
                            font-size: 25px;

                            &:hover {



                            }
                        }
                    }
                }
            }
        }

        .dashboard-body-content-restaurant-create {

            flex-basis: 80%;

            .card-form-restaurant-create {

                margin: 30px auto;
                width: 60%;


                .card-title-restaurant-create {

                }

                form {

                    .content-form-restaurant-create{



                        h3 {

                        }

                        .content-form-input-restaurant-create {

                            input {

                            }
                        }


                        .content-form-file-restaurant-create {


                            margin: 20px 0;
                            text-align: left;


                            input {
                                color: #fff;
                                width: 60%;
                            }

                        }

                        .content-form-category-restaurant-create {




                            input {

                            }

                            .form-check-restaurant-create {



                                input {


                                }

                                label {

                                }
                            }
                        }

                        button {


                            &:hover {

                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1300px) {

    .dashboard-restaurant-create {

        .dashboard-header-restaurant-create {



                h1 {

                }
        }


        .dashboard-body-restaurant-create {



            .dashboard-body-menu-restaurant-create {



                ul{

                    li {



                        a{


                            &:hover {



                            }
                        }
                    }
                }
            }
        }

        .dashboard-body-content-restaurant-create {



            .card-form-restaurant-create {


                width: 40%;


                .card-title-restaurant-create {

                }

                form {

                    .content-form-restaurant-create{



                        h3 {

                        }

                        .content-form-input-restaurant-create {

                            input {

                            }
                        }


                        .content-form-file-restaurant-create {





                            input {


                            }

                        }

                        .content-form-category-restaurant-create {




                            input {

                            }

                            .form-check-restaurant-create {



                                input {


                                }

                                label {

                                }
                            }
                        }

                        button {


                            &:hover {

                            }
                        }
                    }
                }
            }
        }
    }
}
