.dashboard-restaurant-edit {

    .dashboard-header-restaurant-edit {

        background-color: #101927;
        padding: 10px;
        border-bottom: 1px solid $gold;

            h1 {
                color: #e3e8f1;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 25px;
            }
    }

    .dashboard-body-restaurant-edit {
        display: flex;
        height: calc(100vh - 97px - 46px);


        .dashboard-body-menu-restaurant-edit {
            flex-basis: 20%;
            background-color: #101927;

            ul{

                li {

                    border-bottom: 1px solid $gold;
                    padding: 15px;

                    a{
                        color: #e3e8f1;
                        font-size: 20px;
                        text-decoration: none;

                        &:hover {

                            color: $gold;

                        }
                    }
                }
            }
        }
    }

    .dashboard-body-content-restaurant-edit {

        background-image: url('/images/ristorante-black.jpg');
        background-size: cover;
        background-position: bottom;
        overflow-y: scroll;
        flex-basis: 80%;

        .card-form-restaurant-edit {
            width: 90%;
            margin: 50px auto;
            background: rgba(255,255,255,0.5);
            border-radius: 10px;
            border: 3px solid $gold;

            .card-title-restaurant-edit {
                text-align: center;
                padding: 30px 0;
                font-size: 10px;
                text-transform: uppercase;
                color: #101927;
            }

            form {

                .content-form-restaurant-edit {

                    text-align: center;
                    padding: 0 10px;

                    h3 {
                        color: #101927;
                        font-size: 20px;
                        text-align: left;
                    }

                    .content-form-input-restaurant-edit {

                        input {
                            padding: 15px 0;
                            margin: 10px 0;
                            width: 100%;
                            border-radius: 5px;
                            background-color: #e3e8f1;
                            border: 3px solid $gold;
                        }
                    }

                    .content-form-file-restaurant-edit {

                        figure {

                            border: 3px solid $gold;
                            border-radius: 10px;
                            margin-bottom: 10px;

                            img {
                                max-width: 100%;
                                padding-top: 10px;
                            }
                        }
                    }

                    .content-form-category-restaurant-edit {

                        padding: 10px;
                        margin: 10px 0;
                        border-radius: 5px;
                        background-color: #e3e8f1;
                        border: 3px solid $gold;


                        input {
                            border: 1px solid #101927;
                            border-radius: 5px;
                        }

                        .form-check-restaurant-edit {
                            display: flex;


                            input {


                            }

                            label {
                                padding-left: 10px;
                            }
                        }
                    }

                    .content-form-control-file-restaurant-edit {

                        margin: 20px 0;
                        text-align: left;

                        input {
                            background-color: #e3e8f1;
                            border: 3px solid $gold;
                            border-radius: 5px;
                            width: 100%;
                        }

                    }

                    .button-edit {

                        background: rgba(255,255 , 255, 0.9);
                        color: #101927;
                        text-transform: uppercase;
                        border: 1px solid $gold;
                        padding: 20px;
                        margin: 10px 0 20px 0;
                        border-radius: 10px;
                        font-weight: bold;
                        cursor: pointer;
                        transition: 0.75s ease-in-out;

                        &:hover {
                            color: #fff;
                            background-color: $gold;
                            letter-spacing: 2px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit .card-title-restaurant-edit {
        font-size: 20px;
    }

}


@media screen and (min-width: 768px) {

    .dashboard-restaurant-edit {

        .dashboard-header-restaurant-edit {



                h1 {
                    font-size: 30px;
                }
        }


        .dashboard-body-restaurant-edit {

            display: flex;
            height: calc(100vh - 97px - 52px);


            .dashboard-body-menu-restaurant-edit {

                border-right: 1px solid $gold;

                flex-basis: 20%;

                ul{

                    li {



                        a{
                            font-size: 25px;

                            &:hover {



                            }
                        }
                    }
                }
            }
        }

        .dashboard-body-content-restaurant-edit {

            flex-basis: 80%;
            overflow-y: scroll;

            .card-form-restaurant-edit {

                width: 70%;
                margin: 20px auto;


                .card-title-restaurant-edit {

                }

                form {

                    .content-form-restaurant-edit {



                        h3 {

                        }

                        .content-form-input-restaurant-edit {

                            input {

                            }
                        }

                        .content-form-file-restaurant-edit {

                            figure {

                                img {
                                    max-width: 70%;

                                }
                            }
                        }

                        .content-form-category-restaurant-edit {


                            .form-check-restaurant-edit {


                                input {


                                }

                                label {

                                }
                            }
                        }

                        .content-form-control-file-restaurant-edit {

                            input {

                            }

                        }

                        button {


                            &:hover {

                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {

    .dashboard-restaurant-edit {

        .dashboard-header-restaurant-edit {



                h1 {
                    font-size: 35px;
                }
        }


        .dashboard-body-restaurant-edit {

            height: calc(100vh - 97px - 56px);

            .dashboard-body-menu-restaurant-edit {



                ul{

                    li {



                        a{


                            &:hover {



                            }
                        }
                    }
                }
            }
        }

        .dashboard-body-content-restaurant-edit {



            .card-form-restaurant-edit {

                margin: 30px auto;
                width: 60%;


                .card-title-restaurant-edit {

                }

                form {

                    .content-form-restaurant-edit {



                        h3 {

                        }

                        .content-form-input-restaurant-edit {

                            input {

                            }
                        }

                        .content-form-file-restaurant-edit {

                            figure {



                                img {

                                }
                            }
                        }

                        .content-form-category-restaurant-edit {


                            .form-check-restaurant-edit {

                                input {


                                }

                                label {

                                }
                            }
                        }

                        .content-form-control-file-restaurant-edit {

                            input {

                            }

                        }

                        button {


                            &:hover {

                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1300px) {

    .dashboard-restaurant-edit {

        .dashboard-header-restaurant-edit {



                h1 {

                }
        }


        .dashboard-body-restaurant-edit {



            .dashboard-body-menu-restaurant-edit {



                ul{

                    li {



                        a{


                            &:hover {



                            }
                        }
                    }
                }
            }
        }

        .dashboard-body-content-restaurant-edit {



            .card-form-restaurant-edit {


                width: 40%;


                .card-title-restaurant-edit {

                    h2 {

                    }

                }

                form {

                    .content-form-restaurant-edit {

                        h3 {

                        }

                        .content-form-input-restaurant-edit {

                            input {

                            }
                        }


                        .content-form-file-restaurant-edit {

                            figure {



                                img {
                                    max-width: 60%;

                                }
                            }
                        }

                        .content-form-category-restaurant-edit {


                            .form-check-restaurant-edit {

                                input {


                                }

                                label {

                                }
                            }
                        }

                        .content-form-control-file-restaurant-edit {

                            input {

                            }

                        }

                        button {


                            &:hover {

                            }
                        }
                    }
                }
            }
        }
    }
}
