    .dashboard-restaurant-index {

        .dashboard-header-restaurant-index {
            background-color: #101927;
            padding: 10px;
            border-bottom: 3px solid #f5d790;

                h1 {
                    color: #e3e8f1;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: 25px;
                }
        }

        .dashboard-body-restaurant-index {
            display: flex;
            height: calc(100vh - 100px - 49px);

            .dashboard-body-menu-restaurant-index {

                background-color: #101927;
                height: 100%;
                flex-basis: 40%;

                ul{

                    li {
                        border-bottom: 3px solid #f5d790;
                        padding:10px;

                        a{
                            color: #e3e8f1;
                            text-decoration: none;
                            font-size: 20px;


                            &:hover {
                                color: #f5d790;

                            }
                        }
                    }
                }

            }
        }
    }

    .dashboard-body-content-restaurant-index{

        background: url('/images/i-tuoi-ristoranti.jpg');
        background-size: cover;
        height: 100%;
        flex-basis: 80%;
        overflow-y: scroll;

        .container-restaurant-index {

            height: 100%;

            .title-restaurant-index {

                padding: 20px 10px;

                h1 {
                    text-align: center;
                    font-size: 25px;
                    color: #e3e8f1;
                    text-transform: uppercase;
                }
            }
        }

        .restaurants-index {

            display: flex;
            flex-wrap: wrap;


            .restaurant-card-index {

                flex-basis: 100%;
                border: 5px ridge #f5d790;
                border-radius: 10px;
                margin: 10px;
                padding: 10px;
                background: rgba(255, 255, 255, 0.5);

                .title-restaurant-card {
                    text-align: center;
                    color: #101927;
                    font-size: 15px;

                    h4 {
                        color: #f5d790;
                        font-size: 25px;
                    }

                }

                .body-restaurant-card-index{

                    .details-restaurant-card-index {
                        padding: 20px 0;

                        p {
                            padding: 5px 0;
                            color: #f5d790;

                            strong {
                                color: #101927;
                            }
                        }
                    }

                    .action-restaurant-card-index {

                        padding: 10px 0;

                        .container-button-action-index{

                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .button-index {

                                margin-bottom: 10px;
                                padding: 10px;
                                text-decoration: none;
                                font-size: 20px;
                                border: 3px solid #f5d790;
                                border-radius: 10px;
                                width: 80%;
                                text-align: center;

                            }

                            .button-dettagli-index {

                                color: #101927;
                                background: rgba(65, 105, 255, 0.5);

                                &:hover {
                                    color: #f5d790;
                                    background-color: #0000FF;

                                }

                            }

                            .button-ordini-index {

                                color: #101927;
                                background: rgba(50, 205, 50, 0.5);

                                &:hover {
                                    color: #f5d790;
                                    background-color: #008000;
                                }


                            }

                            .button-modifica-index {

                                color: #101927;
                                background: rgba(255, 215, 0, 0.5);

                                &:hover {
                                    color: #f5d790;
                                    background-color: #FF8C00;
                                }

                            }

                            .button-elimina-index {

                                color: #101927;
                                background-color: red;

                                &:hover {
                                    color: #f5d790;
                                }

                            }
                        }
                    }
                }
            }
        }
    }






@media screen and (min-width: 500px){

    .container-restaurant-index .title-restaurant-index .restaurants-index .restaurant-card-index {
        max-width: 80%;
    }

    .container-restaurant-index .restaurants-index{


        .container-restaurant-index .restaurants-index .restaurant-card-index {
            flex-basis: 50%;
        }
    }
}

@media screen and (min-width: 768px){

    .dashboard-restaurant-index .dashboard-body-restaurant-index .dashboard-body-menu-restaurant-index{
        flex-basis: 25%;

        ul{

            li {

                padding:20px;

                a{

                    font-size: 25px;


                    &:hover {


                    }
                }
            }
        }
    }

    .container-restaurant-index .restaurants-index .restaurant-card-index {
        flex-basis: 50%;
    }




}

@media screen and (min-width: 1024px){

    .dashboard-restaurant-index .dashboard-body-restaurant-index .dashboard-body-menu-restaurant-index{
        flex-basis: 20%;
    }


    .dashboard-body-content-restaurant-index{


        .container-restaurant-index {



            .title-restaurant-index {



                h1 {

                    font-size: 40px;

                }
            }
        }

        .restaurants-index {

            margin: 50px 0 0 100px;

            .restaurant-card-index {

                flex-basis: 30%;


                .title-restaurant-card {

                    font-size: 20px;

                    h4 {

                        font-size: 30px;
                    }

                }

                .body-restaurant-card-index{

                    .details-restaurant-card-index {


                        p {

                            padding: 15px 0;
                            font-size: 20px;

                            strong {

                                font-size: 20px;
                            }
                        }
                    }

                    .action-restaurant-card-index {

                        padding: 10px 0 20px 0;

                        .container-button-action-index{

                            display: flex;
                            flex-direction: row;
                            justify-content: center;


                            .button-index {

                                margin: 0 10px;
                                width: 30%;


                                    &:hover {

                                    }
                            }

                            .button-dettagli-index {


                            }

                            .button-modifica-index {


                            }

                            .button-elimina-index {



                            }
                        }
                    }
                }
            }
        }
    }
}
