    .dashboard-restaurant-index {

        .dashboard-header-restaurant-index {
            background-color: #101927;
            padding: 10px;
            border-bottom: 1px solid #000;

                h1 {
                    color: #e3e8f1;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: 25px;
                }
        }

        .dashboard-body-restaurant-index {
            display: flex;
            height: calc(100vh - 100px - 48px);

            .dashboard-body-menu-restaurant-index {

                background-color: #101927;
                height: 100%;
                flex-basis: 40%;

                ul{

                    li {
                        border-bottom: 1px solid #e3e8f1;
                        padding:10px;

                        a{
                            color: #e3e8f1;
                            text-decoration: none;
                            font-size: 20px;


                            &:hover {
                                color: #00ccbc;

                            }
                        }
                    }
                }

            }
        }
    }

    .dashboard-body-content-restaurant-index{

        background-color: #e3e8f1;
        height: 100%;
        flex-basis: 80%;
        overflow-y: scroll;

        .container-restaurant-index {

            height: 100%;

            .title-restaurant-index {

                padding: 20px 10px;

                h1 {
                    text-align: center;
                    font-size: 25px;
                    text-transform: uppercase;
                }
            }
        }

        .restaurants-index {

            display: flex;
            flex-wrap: wrap;

            .restaurant-card-index {

                flex-basis: 100%;
                background-color: #101927;
                border: 3px solid #00ccbc;
                border-radius: 10px;
                margin: 10px;
                padding: 10px;

                .title-restaurant-card {
                    text-align: center;
                    color: #e3e8f1;
                    font-size: 15px;

                    h4 {
                        color: #00ccbc;
                        font-size: 25px;
                    }

                }

                .body-restaurant-card-index{

                    .details-restaurant-card-index {
                        padding: 20px 0;

                        p {
                            padding: 5px 0;
                            color: #00ccbc;

                            strong {
                                color: #e3e8f1;
                            }
                        }
                    }

                    .action-restaurant-card-index {

                        padding: 10px 0;

                        .container-button-action-index{

                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .button-index {

                                margin-bottom: 10px;
                                padding: 10px;
                                text-decoration: none;
                                font-size: 20px;
                                border-radius: 10px;
                                border: 3px solid #00ccbc;
                                color: #e3e8f1;
                                width: 60%;
                                text-align: center;

                                    &:hover {
                                        color: #00ccbc;
                                    }
                            }

                            .button-dettagli-index {

                                background-color: #4169E1;
                            }

                            .button-modifica-index {

                                background-color: #FFA500;
                            }

                            .button-elimina-index {

                                background-color: #DC143C;

                            }
                            .button-ordini-index {

                                background-color: green;

                            }
                        }
                    }
                }
            }
        }
    }






@media screen and (min-width: 500px){

    .container-restaurant-index .title-restaurant-index .restaurants-index .restaurant-card-index {
        max-width: 80%;
    }

    .container-restaurant-index .restaurants-index{
        justify-content: center;

        .container-restaurant-index .restaurants-index .restaurant-card-index {
            flex-basis: 50%;
        }
    }
}

@media screen and (min-width: 768px){

    .dashboard-restaurant-index .dashboard-body-restaurant-index .dashboard-body-menu-restaurant-index{
        flex-basis: 25%;

        ul{

            li {

                padding:20px;

                a{

                    font-size: 25px;


                    &:hover {


                    }
                }
            }
        }
    }

    .container-restaurant-index .restaurants-index .restaurant-card-index {
        flex-basis: 50%;
    }




}

@media screen and (min-width: 1024px){

    .dashboard-restaurant-index .dashboard-body-restaurant-index .dashboard-body-menu-restaurant-index{
        flex-basis: 20%;
    }


    .dashboard-body-content-restaurant-index{


        .container-restaurant-index {



            .title-restaurant-index {



                h1 {

                    font-size: 40px;

                }
            }
        }

        .restaurants-index {



            .restaurant-card-index {

                flex-basis: 30%;


                .title-restaurant-card {

                    font-size: 20px;

                    h4 {

                        font-size: 30px;
                    }

                }

                .body-restaurant-card-index{

                    .details-restaurant-card-index {


                        p {


                            font-size: 20px;

                            strong {

                                font-size: 20px;
                            }
                        }
                    }

                    .action-restaurant-card-index {


                        .container-button-action-index{


                            .button-index {


                                width: 50%;


                                    &:hover {

                                    }
                            }

                            .button-dettagli-index {


                            }

                            .button-modifica-index {


                            }

                            .button-elimina-index {



                            }
                        }
                    }
                }
            }
        }
    }
}
