.dashboard-restaurant-show {

    .dashboard-header-restaurant-show {

        background-color: #101927;
        padding: 10px;
        border-bottom: 1px solid $gold;

        a {
            text-decoration: none;


            h1 {
                color: #e3e8f1;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 25px;

            }
        }


        }

    .dashboard-body-restaurant-show {
        display: flex;
        height: calc(100vh - 100px - 50px);

        .dashboard-body-menu-restaurant-show {

            background-color: #101927;
            border-right: 1px solid $gold;
            height: 100%;
            flex-basis: 40%;

            ul{

                li {

                    border-bottom: 1px solid $gold;
                    padding: 15px;

                    a{
                        color: #e3e8f1;
                        font-size: 20px;
                        text-decoration: none;


                        &:hover {

                            color: $gold;

                        }
                    }
                }
            }

        }
    }
}

.dashboard-body-content-restaurant-show {


    flex-basis: 80%;
    overflow-y: scroll;

    .container-restaurant-show {

        background-image: url('/images/burger/hamburgers-sfondo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 60%;

        .title-show {
                text-align: center;
                padding: 20px 0 10px;
                color: #e3e8f1;
                text-transform: uppercase;
                font-size: 23px;
                background: rgba(0,0,0,0.5);

        }

        .container-title-restaurant-show {

            display: flex;
            justify-content: center;
            align-items: center;

            .title-restaurant-show {

                border: 5px ridge $gold;
                background: rgba(255,255,255,0.5);
                padding: 20px 10px;
                width: 95%;
                margin: 20px auto 0;
                border-radius: 10px;

                &:hover {
                    transition: 1s;
                    background: rgba(255,255,255,1);

                }

                h3 {

                    padding-bottom: 20px;
                    color: #422e20;
                    text-transform: uppercase;
                    font-size: 18px;

                    strong {
                        color: #101927;
                        text-transform: none;
                        font-size: 15px;
                        padding-top: 5px;
                        display: block;
                    }
                }
            }

            .button-create-order {

                text-align: center;

                .show{

                    display: inline-block;
                    text-decoration: none;
                    text-transform: uppercase;
                    border-radius: 10px;
                    color: #e3e8f1;
                    border: 1px solid $gold;
                    font-size: 13px;
                    font-weight: 700;
                    width: 80%;

                    &:hover {
                        border-radius: 50%;
                        border: 1px solid #101927;
                        transition: 1s;
                    }
                }

                .button-create-new-show {

                    color: #101927;
                    background: rgba(0, 0, 255, 0.5);
                    padding: 10px 5px;



                    &:hover {

                        color: $gold;
                        background-color: #000080;
                    }
                }

                .button-order-new-show {

                    color: #101927;
                    background: rgba(50, 205, 50, 0.5);
                    margin-top: 10px;
                    padding: 15px 10px;

                    &:hover {
                        color: $gold;
                        background-color: #008000;
                    }
                }
            }
        }
    }
}

.your-dishes {


    background-color: #101927;
    border-top: 1px solid $gold;
    border-bottom: 1px solid $gold;
    text-align: center;
    padding: 20px 0;

    h3 {
        text-transform: uppercase;
        color: #e3e8f1;
        font-size: 20px;
    }
}

.container-card-restaurant-show {


    background-color: #e3e8f1;


    .restaurants-show {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .restaurant-card-show {

            flex-basis: 95%;
            border: 5px ridge $gold;
            background: rgba(0,0,0,0.8);
            border-radius: 10px;
            margin: 20px 5px;
            padding: 10px 5px;


            &:hover {
                transition: 1s;
                background: #101927;

            }

            .body-restaurant-card-show{

                img {
                    max-width: 100%;
                    border-radius: 10px;
                }

                h3 {
                    text-align: center;
                    text-transform:uppercase;
                    padding: 10px 0;
                    font-size: 20px;
                    color: $gold;

                }
            }
        }

        .details-restaurant-card-show {

            padding: 10px 0;
        }

        .container-button-action-show{

            text-align: center;

            .button-show {
                margin-bottom: 10px;
                text-decoration: none;
                padding: 6px 11px;
                display: inline-block;
                border-radius: 10px;
                font-size: 20px;
                border: 1px solid $gold;
                margin: 0 3px;


                &:hover {
                    border-radius: 50%;
                    transition: 1s;


                }

        }

            .button-dettagli-show {


                color: $gold;
                background: rgba(65, 105, 255, 0.5);


                &:hover {
                    color: #101927;
                    background-color: #00FFFF;

                }
            }

            .button-modifica-show {


                color: $gold;
                background: rgba(144,238,144,0.5);

                &:hover {
                    color: #101927;
                    background-color: #00FF00;
                }
            }

            form {
                display: inline-block;

                .button-elimina-show {


                    color: $gold;
                    background: rgba(255, 99, 71, 0.5);

                    &:hover {
                        color: #101927;
                        background-color: #FF0000;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .dashboard-restaurant-show {

        .dashboard-header-restaurant-show {



            a {



                h1 {

                    font-size: 30px;

                }
            }


            }

        .dashboard-body-restaurant-show {


            .dashboard-body-menu-restaurant-show {



                ul{

                    li {



                        a{



                            &:hover {



                            }
                        }
                    }
                }

            }
        }
    }

    .dashboard-body-content-restaurant-show {


        .container-restaurant-show {

            height: 55%;

            .title-show {

                font-size: 30px;
            }

            .container-title-restaurant-show {

                .title-restaurant-show{


                    width: 70%;


                    h3 {
                        font-size: 20px;

                        strong {
                            font-size: 20px;
                        }
                    }
                }

                .button-create-order {

                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    .show{

                        margin: 0 5px;
                        width: 45%;

                    }

                    .button-create-new-show {





                        &:hover {


                        }
                    }

                    .button-order-new-show {

                        padding: 10px 5px;
                        margin-top: 0;



                        &:hover {


                        }
                    }
                }
            }
        }


        .your-dishes {


            h3 {
                font-size: 30px;
            }
        }

        .container-card-restaurant-show {

            .restaurants-show {

                .restaurant-card-show {

                    flex-basis: 45%;


                    .body-restaurant-card-show{

                        img {

                        }

                        h3 {
                            font-size: 25px;
                        }


                    }
                }

                .details-restaurant-card-show {


                    .container-button-action-show{


                        .button-show {

                            padding: 5px 15px;
                            margin: 5px;

                            &:hover {

                            }
                        }

                        .button-dettagli-show {

                        }

                        .button-modifica-show {

                        }

                        .button-elimina-show {


                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {


    .dashboard-restaurant-show {



        .dashboard-header-restaurant-show {



            a {


                h1 {
                    font-size: 40px;

                }
            }


            }

        .dashboard-body-restaurant-show {


            .dashboard-body-menu-restaurant-show {

                flex-basis: 30%;

                ul{

                    li {



                        a{

                            font-size: 25px;


                            &:hover {



                            }
                        }
                    }
                }

            }
        }
    }

    .dashboard-body-content-restaurant-show {

        .container-restaurant-show {

            .title-show {

                font-size: 40px;
            }

            .container-title-restaurant-show {


                .title-restaurant-show{


                    width: 50%;
                    margin: 30px auto 0;


                    h3 {


                        strong {

                        }
                    }
                }

                .button-create-order {

                    .show{
                        font-size: 12px;
                        font-weight: 700;
                        width: 45%;
                        margin: 5px;

                    }

                    .button-create-new-show {


                        &:hover {


                        }
                    }

                    .button-order-new-show {


                        &:hover {


                        }
                    }
                }
            }
        }

        .your-dishes {


            h3 {
                font-size: 40px;
            }
        }

        .container-card-restaurant-show {

            .restaurants-show {

                .restaurant-card-show {

                    flex-basis: 30%;

                    .body-restaurant-card-show{

                        img {

                        }

                        h3 {
                            font-size: 20px;
                        }
                    }
                }

                .details-restaurant-card-show {


                    .container-button-action-show{


                        .button-show {

                            padding: 5px 15px;
                            margin: 5px;

                            &:hover {

                            }
                        }

                        .button-dettagli-show {

                        }

                        .button-modifica-show {

                        }

                        .button-elimina-show {

                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    .dashboard-restaurant-show {


        .dashboard-header-restaurant-show {

            a {


                h1 {
                    font-size: 40px;

                }
            }


        }

        .dashboard-body-restaurant-show {


            .dashboard-body-menu-restaurant-show {


                ul{

                    li {


                        a{

                            font-size: 25px;

                            &:hover {

                            }
                        }
                    }
                }
            }
        }
    }

    .dashboard-body-content-restaurant-show {

        .container-restaurant-show {

            .title-show {

                font-size: 40px;
            }

            .container-title-restaurant-show {


                .title-restaurant-show{


                    width: 40%;


                    h3 {


                        strong {

                        }
                    }
                }

                .button-create-order {


                    .show{
                        width: 47%;
                    }

                    .button-create-new-show {


                        &:hover {

                        }
                    }

                    .button-order-new-show {


                        &:hover {


                        }
                    }
                }
            }
        }

        .your-dishes {

            h3 {
                font-size: 40px;
            }
        }

        .container-card-restaurant-show {


            .restaurants-show {


                .restaurant-card-show {

                    flex-basis: 30%;


                    .body-restaurant-card-show{

                        img {

                        }

                        h3 {
                            font-size: 25px;
                        }


                    }
                }

                .details-restaurant-card-show {


                    .container-button-action-show{


                        .button-show {



                            &:hover {

                            }
                        }

                        .button-dettagli-show {

                        }

                        .button-modifica-show {

                        }

                        .button-elimina-show {

                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {

    .dashboard-restaurant-show {


        .dashboard-header-restaurant-show {

            a {


                h1 {
                    font-size: 40px;

                }
            }


        }

        .dashboard-body-restaurant-show {


            .dashboard-body-menu-restaurant-show {


                ul{

                    li {


                        a{

                            font-size: 25px;

                            &:hover {

                            }
                        }
                    }
                }
            }
        }
    }

    .dashboard-body-content-restaurant-show {

        .container-restaurant-show {

            .title-show {

                font-size: 40px;
            }

            .container-title-restaurant-show {


                .title-restaurant-show{


                    width: 30%;


                    h3 {


                        strong {

                        }
                    }
                }

                .button-create-order {


                    .show{
                        width: 40%;
                        margin: 10px 15px;
                    }

                    .button-create-new-show {


                        &:hover {

                        }
                    }

                    .button-order-new-show {


                        &:hover {


                        }
                    }
                }
            }
        }

        .your-dishes {

            h3 {
                font-size: 40px;
            }
        }

        .container-card-restaurant-show {


            .restaurants-show {


                .restaurant-card-show {

                    flex-basis: 20%;
                    margin: 20px;
                    padding: 20px 5px;


                    .body-restaurant-card-show{

                        img {

                        }

                        h3 {
                            font-size: 25px;
                        }


                    }
                }

                .details-restaurant-card-show {


                    .container-button-action-show{


                        .button-show {



                            &:hover {

                            }
                        }

                        .button-dettagli-show {

                        }

                        .button-modifica-show {

                        }

                        .button-elimina-show {

                        }
                    }
                }
            }
        }
    }
}
