.dashboard-restaurant-show {

    .dashboard-header-restaurant-show {

        background-color: #101927;
        padding: 10px;
        border-bottom: 3px solid $gold;

        a {
            text-decoration: none;

            h1 {
                color: #e3e8f1;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 25px;
            }
        }


        }

    .dashboard-body-restaurant-show {
        display: flex;
        height: calc(100vh - 100px - 48px);

        .dashboard-body-menu-restaurant-show {

            background-color: #101927;
            border-right: 3px solid $gold;
            height: 100%;
            flex-basis: 40%;

            ul{

                li {

                    border-bottom: 3px solid $gold;
                    padding: 15px;

                    a{
                        color: #e3e8f1;
                        font-size: 20px;
                        text-decoration: none;

                        &:hover {

                            color: $gold;

                        }
                    }
                }
            }

        }
    }
}

.dashboard-body-content-restaurant-show {


    flex-basis: 80%;
    overflow-y: scroll;

    .container-restaurant-show {

        background-image: url('/images/patatine.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 65%;

        .title-show {
                text-align: center;
                padding: 20px 0 10px;
                color: #e3e8f1;
                text-transform: uppercase;
                font-size: 25px;
                background: rgba(0,0,0,0.5);

        }

        .title-restaurant-show{

            border: 5px ridge $gold;
            background: rgba(255,255,255,0.5);
            padding: 10px;
            width: 90%;
            margin: 20px auto 0;
            border-radius: 10px;

            h3 {

                padding-bottom: 20px;
                color: #101927;

                strong {
                    color: #101927;
                }
            }
        }

        .button-create-order {

            text-align: center;

            .show{

                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                padding: 10px;
                border-radius: 10px;
                color: #e3e8f1;
                border: 3px solid $gold;
                font-size: 13px;
                width: 80%;
            }

            .button-create-new-show {

                color: #101927;
                background: rgba(0, 0, 255, 0.5);
                margin: 10px 0;



                &:hover {

                    color: $gold;
                    background-color: #000080;
                }
            }

            .button-order-new-show {

                color: #101927;
                background: rgba(50, 205, 50, 0.5);
                margin: 10px 0;

                &:hover {
                    color: $gold;
                    background-color: #008000;
                }
            }
        }
    }
}

.your-dishes {


    background-color: #101927;
    border-top: 3px solid $gold;
    border-bottom: 3px solid $gold;
    text-align: center;
    padding: 20px 0;

    h3 {
        text-transform: uppercase;
        color: #e3e8f1;
        font-size: 20px;
    }
}

.container-card-restaurant-show {

    // background-image: url('/images/patatine.jpeg');
    // background-position: top;
    background-color: #e3e8f1;


    .restaurants-show {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .restaurant-card-show {

            flex-basis: 90%;
            border: 5px ridge $gold;
            background: rgba(255,255,255,0.5);
            border-radius: 10px;
            margin: 20px 10px;
            padding: 5px;

            .body-restaurant-card-show{

                h3 {
                    text-align: center;
                    padding: 10px 0;
                    font-size: 25px;
                    color: #101927
                }

                img {
                    max-width: 100%;
                    border-radius: 10px;
                }


            }
        }

        .details-restaurant-card-show {

            padding: 10px 0;
        }

        .container-button-action-show{

            text-align: center;

            .button-show {
                margin-bottom: 10px;
                text-decoration: none;
                padding: 6px;
                display: inline-block;
                border-radius: 10px;
                font-size: 20px;
                border: 3px solid $gold;
                margin: 3px;
                transition: background-color 2s;
        }



            .button-dettagli-show {

                color: #101927;
                background: rgba(65, 105, 255, 0.5);

                &:hover {
                    color: $gold;
                    background-color: #0000FF;

                }
            }

            .button-modifica-show {

                color: #101927;
                background: rgba(255, 215, 0, 0.5);

                &:hover {
                    color: $gold;
                    background-color: #FF8C00;
                }
            }

            form {
                display: inline-block;

                .button-elimina-show {

                    color: #101927;
                    background: rgba(255, 99, 71, 0.5);

                    &:hover {
                        color: $gold;
                        background-color: #FF0000;
                    }

                }
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .dashboard-restaurant-show .dashboard-body-restaurant-show .dashboard-body-menu-restaurant-show {
        flex-basis: 25%;
    }

    .dashboard-body-content-restaurant-show {

        .container-restaurant-show {

            height: 50%;

            .title-show {

                font-size: 30px;
            }

            .title-restaurant-show{


                width: 70%;


                h3 {


                    strong {

                    }
                }
            }

            .button-create-order {



                .show{

                    width: 50%;

                }

                .button-create-new-show {





                    &:hover {


                    }
                }

                .button-order-new-show {





                    &:hover {


                    }
                }
            }

    }


        .your-dishes {


            h3 {
                font-size: 30px;
            }
        }

        .container-card-restaurant-show {

            .restaurants-show {

                .restaurant-card-show {

                    flex-basis: 45%;


                    .body-restaurant-card-show{

                        h3 {

                        }

                        img {

                        }


                    }
                }

                .details-restaurant-card-show {


                }

                .container-button-action-show{



                    .button-show {

                        padding: 5px 15px;
                        margin: 5px;

                        &:hover {

                        }
                    }

                    .button-dettagli-show {

                    }

                    .button-modifica-show {

                    }

                    .button-elimina-show {


                    }
                }
            }
        }

    }
}

@media screen and (min-width: 1024px) {

    .dashboard-restaurant-show {


        .dashboard-header-restaurant-show {



            a {


                h1 {

                }
            }


            }

        .dashboard-body-restaurant-show {


            .dashboard-body-menu-restaurant-show {



                ul{

                    li {



                        a{

                            font-size: 25px;


                            &:hover {



                            }
                        }
                    }
                }

            }
        }
    }


    .dashboard-restaurant-show .dashboard-body-restaurant-show .dashboard-body-menu-restaurant-show {
        flex-basis: 20%;
    }

    .dashboard-body-content-restaurant-show {

        .container-restaurant-show {

            .title-show {

                font-size: 40px;
            }

            .title-restaurant-show{


                width: 50%;


                h3 {


                    strong {

                    }
                }
            }

            .button-create-order {



                .show{

                    width: 43%;
                    margin: 10px;

                }

                .button-create-new-show {





                    &:hover {


                    }
                }

                .button-order-new-show {





                    &:hover {


                    }
                }
            }

    }


        .your-dishes {


            h3 {
                font-size: 40px;
            }
        }

        .container-card-restaurant-show {

            .restaurants-show {



                .restaurant-card-show {




                    .body-restaurant-card-show{

                        h3 {

                        }

                        img {

                        }


                    }
                }

                .details-restaurant-card-show {


                }

                .container-button-action-show{



                    .button-show {

                        padding: 5px 15px;
                        margin: 5px;

                        &:hover {

                        }
                    }

                    .button-dettagli-show {

                    }

                    .button-modifica-show {

                    }

                    .button-elimina-show {


                    }
                }
            }
        }


    }

}

@media screen and (min-width: 1200px) {

    .dashboard-restaurant-show .dashboard-body-restaurant-show .dashboard-body-menu-restaurant-show {
        flex-basis: 20%;
    }

    .dashboard-body-content-restaurant-show {

        .container-restaurant-show {

            .title-show {

                font-size: 40px;
            }

            .title-restaurant-show{


                width: 30%;


                h3 {


                    strong {

                    }
                }
            }

            .button-create-order {



                .show{

                    width: 40%;
                }

                .button-create-new-show {





                    &:hover {


                    }
                }

                .button-order-new-show {




                    &:hover {


                    }
                }
            }
    }



        .your-dishes {


            h3 {
                font-size: 40px;
            }
        }

        .container-card-restaurant-show {


            .restaurants-show {



                .restaurant-card-show {

                    flex-basis: 20%;


                    .body-restaurant-card-show{

                        h3 {

                        }

                        img {

                        }


                    }
                }

                .details-restaurant-card-show {


                }

                .container-button-action-show{



                    .button-show {

                        padding: 5px 15px;
                        margin: 5px;

                        &:hover {

                        }
                    }

                    .button-dettagli-show {

                    }

                    .button-modifica-show {

                    }

                    .button-elimina-show {


                    }
                }
            }
        }


    }

}
