@media screen and (min-width: 200px){

    .dashboard-order {

        .dashboard-header-order {
            background-color: #101927;
            padding: 10px;
            border-bottom: 1px solid #000;

            h1 {
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 25px;
            }
        }
        .dashboard-body-order {
            display: flex;
            height: calc(100vh - 100px - 50px);


            .dashboard-body-menu-order{
                background-color: #101927;
                flex-basis: 40%;
                overflow-y: scroll;

                    .title-restaurant {
                        color: white;
                        padding: 20px 0;
                        text-align: center;
                        font-size: 20px;
                    }


                ol{
                    border-bottom: 1px solid #c1c1c1;
                    margin-left: 25px;
                    color:white;

                    li {

                        padding: 20px 5px;

                            a{
                                color: white;
                                font-size: 15px;
                                text-decoration: none;

                                &:hover {
                                    color: #00ccbc;

                                }
                            }
                    }
                }

            }
            .dashboard-body-content-order{
                background-color: #e3e8f1;
                height: 100%;
                flex-basis: 60%;
                overflow-y: scroll;

                .container-restaurant-order {

                    .order-title{

                        h1 {
                            text-align: center;
                            font-size: 25px;
                            padding: 30px 0;
                        }
                    }
                }


            }

            .restaurants-order {

                .restaurant-card-order {

                    background-color: #B0C4DE;
                    border-radius: 10px;
                    padding: 10px;
                    width: 90%;
                    margin: auto;

                    .title-restaurant-card-order{

                        h4 {
                            text-align: center;
                            font-size: 25px;
                            padding: 10px 0;
                        }


                    }

                    .body-restaurant-card-order{

                        padding: 30px 0 10px 0;

                        .details-restaurant-card-order {

                        }

                        .action-restaurant-card-order {

                            .container-btn-action-order{

                                text-align: center;

                                .btn{
                                    display: inline-block;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    padding: 10px;
                                    border-radius: 5px;
                                    color: #fff;
                                }

                                .btn-dettagli {
                                    background-color: #4169E1;
                                    font-size: 15px;
                                    padding: 10px 20px;
                                    margin-bottom: 20px;
                                }

                                .btn-modifica {
                                    background-color: #FFA500;
                                    font-size: 15px;
                                    padding: 10px 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// .table {
//     width: 100%;
//     tbody{
//         tr{
//             .btn {
//                 display: inline-block;
//                 padding: 8px;
//                 border: 1px solid #000;
//                 border-radius: 5px;
//                 text-decoration: none;
//                 color: #fff;
//                 text-transform: uppercase;
//             }
//
//             .btn-dettagli {
//                 background-color: #4169E1;
//             }
//
//             .btn-modifica {
//                 background-color: #FFA500;
//             }
//         }
//     }
// }
@media screen and (min-width: 768px){

    .dashboard-order {

        .dashboard-header-order {


            h1 {

            }
        }
        .dashboard-body-order {



            .dashboard-body-menu-order{


                    .title-restaurant {

                        font-size: 30px;
                    }


                        ol{
                            li {
                                padding: 15px 5px;
                                    a{

                                        font-size: 18px;


                                        &:hover {


                                        }
                                    }
                            }
                        }

            }
            .dashboard-body-content-order{

                .container-restaurant-order {

                    .order-title{

                        h1 {

                            font-size: 35px;

                        }
                    }
                }


            }

            .restaurants-order {

                .restaurant-card-order {


                    width: 70%;
                    margin: auto;

                    .title-restaurant-card-order{

                        h4 {

                            font-size: 30px;

                        }


                    }

                    .body-restaurant-card-order{



                        .details-restaurant-card-order {

                        }

                        .action-restaurant-card-order {

                            .container-btn-action-order{


                                .btn{

                                }

                                .btn-dettagli {
                                    margin-bottom: 0;
                                    margin-right: 10px;

                                }

                                .btn-modifica {

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px){

    .dashboard-order {

        .dashboard-header-order {


            h1 {

            }
        }
        .dashboard-body-order {



            .dashboard-body-menu-order{

                flex-basis: 20%;

                    .title-restaurant {

                        font-size: 40px;
                    }


                        ol{
                            li {
                                padding: 15px 5px;
                                    a{

                                        font-size: 20px;


                                        &:hover {


                                        }
                                    }
                            }
                        }

            }
            .dashboard-body-content-order{

                flex-basis: 80%;

                .container-restaurant-order {

                    .order-title{

                        h1 {

                            font-size: 40px;

                        }
                    }
                }


            }

            .restaurants-order {

                .restaurant-card-order {


                    width: 40%;
                    margin: auto;

                    .title-restaurant-card-order{

                        h4 {

                            font-size: 40px;

                        }


                    }

                    .body-restaurant-card-order{



                        .details-restaurant-card-order {

                        }

                        .action-restaurant-card-order {

                            .container-btn-action-order{


                                .btn{

                                }

                                .btn-dettagli {

                                    margin-bottom: 0;
                                    margin-right: 10px;

                                }

                                .btn-modifica {

                                }
                            }
                        }
                    }
                }
            }
        }
    }


}
