@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1500px;
  margin: auto;
}

@media screen and (min-width: 200px) {
  header {
    height: 100vh;
    background: url("/images/jumbo4.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  }
  header .filter {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0;
  }
  header .header-top .logo {
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    display: flex;
    align-items: center;
  }
  header .header-top .logo a {
    display: inline-block;
    padding: 20px 10px;
  }
  header .header-top .logo a img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  header .header-top .nav-menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .header-top .nav-menu-top .top-right {
    display: none;
  }
  header .header-top .nav-menu-top .links > a {
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  header .header-top .nav-menu-top .cart i {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    color: white;
  }
  header .header-top .nav-menu-top .toggle-menu {
    padding: 0 20px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
  }
  header .header-top .nav-menu-top .toggle-menu i {
    display: inline-block;
    padding: 10px;
  }
  header .menu-mobile {
    border: 1px solid red;
    max-width: 100%;
    height: 200px;
  }
  header .header-bottom {
    display: flex;
    justify-content: flex-end;
  }
  header .header-bottom .nav-menu-bottom {
    max-width: 50%;
    text-align: right;
    padding-right: 80px;
  }
  header .header-bottom .nav-menu-bottom .category-select {
    border: none;
    border-radius: 5px;
    padding: 5px;
  }
}
.jumbo {
  background: url("/images/jumbo2.jpg");
  background-position: center 20%;
  background-size: cover;
  height: calc(100vh - 202px);
}

.card-category {
  background-color: #040909;
}
.card-category .container {
  margin: auto;
}
.card-category .container .cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-category .container .cards .card {
  background: url("/images/card.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px;
  width: 400px;
  height: 250px;
}

footer {
  background-color: #0b0d0f;
}

.container-totale {
  display: flex;
  padding: 100px 0;
  justify-content: center;
}

.container-list {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-list .list {
  font-weight: 700;
  font-size: 16px;
}
.container-list .list ul li {
  list-style-type: none;
  padding-bottom: 10px;
  color: white;
}

.container-social-online {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container-social-online .social-online {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-social-online .social-online h3 {
  font-size: 20px;
  color: #cc9933;
  border: 1px solid #cc9933;
  padding: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.container-social-online .social-online span {
  color: #4c4d4e;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.container-social-online .social-online i {
  padding: 0 20px;
  font-size: 16px;
  color: #4c4d4e;
}

.container-contact {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-contact .contact {
  font-weight: 700;
  font-size: 16px;
}
.container-contact .contact a {
  text-decoration: none;
  font-size: 15px;
  color: #cc9933;
}
.container-contact .contact h5 {
  color: white;
  font-size: 15px;
  margin: 10px 0 20px 0;
}
.container-contact .contact ul {
  font-size: 12px;
}
.container-contact .contact ul li {
  list-style-type: none;
  padding-bottom: 10px;
  color: #4c4d4e;
}