@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1500px;
  margin: auto;
}

@media screen and (min-width: 200px) {
  header .wp-header {
    height: 100vh;
    background: url("/images/jumbo4.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  }
  header .filter {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  header .header-log-in .top-right {
    text-align: right;
    padding-right: 30px;
  }
  header .header-log-in .links > a {
    display: inline-block;
    color: #fff;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0;
  }
  header .header-top .logo {
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    display: flex;
    align-items: center;
  }
  header .header-top .logo a {
    display: inline-block;
    padding: 20px 10px;
  }
  header .header-top .logo a img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  header .header-top .nav-menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .header-top .nav-menu-top .cart {
    padding: 5px;
    border-radius: 10px;
  }
  header .header-top .nav-menu-top .cart .wp-image-cart {
    position: relative;
  }
  header .header-top .nav-menu-top .cart .wp-image-cart i {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    color: #fff;
  }
  header .header-top .nav-menu-top .cart .total-quantity {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    padding: 0 3px;
    background-color: #7FFFD4;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
  }
  header .header-top .nav-menu-top .cart .cart-dropdown {
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    left: -50px;
    min-width: 200px;
  }
  header .header-top .nav-menu-top .cart .cart-dropdown ul {
    list-style-type: none;
    text-align: left;
  }
  header .header-top .nav-menu-top .cart .cart-dropdown ul li {
    padding: 5px;
    font-size: 16px;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 10px;
  }
  header .header-top .nav-menu-top .toggle-menu {
    padding: 0 20px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
  }
  header .header-top .nav-menu-top .toggle-menu i {
    display: inline-block;
    padding: 10px;
  }
  header .menu-mobile {
    max-width: 100%;
    padding-bottom: 50px;
    display: none;
    justify-content: flex-end;
  }
  header .menu-mobile.active {
    display: flex;
  }
  header .menu-mobile .nav-menu-mobile {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 5%;
  }
  header .menu-mobile .nav-menu-mobile ul {
    list-style-type: none;
    text-align: center;
  }
  header .menu-mobile .nav-menu-mobile ul li a {
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  header .header-bottom {
    display: flex;
    justify-content: flex-end;
  }
  header .header-bottom .nav-menu-bottom {
    width: 100%;
    text-align: center;
    padding-right: 30px;
  }
  header .header-bottom .nav-menu-bottom .category-select {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
  }
  header .header-bottom .nav-menu-bottom .ricerca-avanzata {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
  }
  header .text-header {
    margin: 150px 0;
  }
  header .text-header .principal-text {
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 15px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 500px) {
  header .menu-mobile .nav-menu-mobile {
    max-width: 40%;
  }

  header .header-bottom .nav-menu-bottom {
    text-align: right;
    padding-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  header .text-header {
    width: 80%;
    margin: 150px auto;
  }
  header .text-header .principal-text {
    font-size: 50px;
  }
}
@media screen and (min-width: 1024px) {
  header .text-header {
    width: 90%;
  }
  header .text-header .principal-text {
    font-size: 63px;
  }
}
@media screen and (min-width: 1300px) {
  header .text-header {
    width: 70%;
  }
  header .text-header .principal-text {
    font-size: 76px;
  }
}
@media screen and (min-width: 200px) {
  .card-category {
    background-color: #FAF0E6;
  }
  .card-category .container-card-category {
    padding: 50px 0;
  }
  .card-category .menu-filter {
    display: inline-block;
    padding-bottom: 50px;
  }
  .card-category .menu-filter .category-select {
    max-width: 80%;
  }
  .card-category .container-card {
    margin: auto;
  }
  .card-category .container-card .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .card-category .container-card .cards .card {
    margin: 0 50px 50px 50px;
    width: 400px;
    height: 250px;
    position: relative;
  }
  .card-category .container-card .cards .card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
  }
  .card-category .container-card .cards .card .title {
    color: #fff;
  }
}
footer {
  background-color: #0b0d0f;
}

.container-totale {
  display: flex;
  padding: 100px 0;
  justify-content: center;
}

.container-list {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-list .list {
  font-weight: 700;
  font-size: 16px;
}
.container-list .list ul li {
  list-style-type: none;
  padding-bottom: 10px;
  color: white;
}

.container-social-online {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container-social-online .social-online {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-social-online .social-online h3 {
  font-size: 20px;
  color: #cc9933;
  border: 1px solid #cc9933;
  padding: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.container-social-online .social-online span {
  color: #4c4d4e;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.container-social-online .social-online i {
  padding: 0 20px;
  font-size: 16px;
  color: #4c4d4e;
}

.container-contact {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-contact .contact {
  font-weight: 700;
  font-size: 16px;
}
.container-contact .contact a {
  text-decoration: none;
  font-size: 15px;
  color: #cc9933;
}
.container-contact .contact h5 {
  color: white;
  font-size: 15px;
  margin: 10px 0 20px 0;
}
.container-contact .contact ul {
  font-size: 12px;
}
.container-contact .contact ul li {
  list-style-type: none;
  padding-bottom: 10px;
  color: #4c4d4e;
}

#header {
  height: 100px;
}

.container-total {
  height: 100%;
  background-color: #e3e8f1;
}

.container-general-total {
  height: 100%;
  display: flex;
}

.container-brand-sx {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container-brand-sx .container-brand {
  padding-left: 10px;
  width: 200px;
  height: 100%;
}
.container-brand-sx .container-brand .brand {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.container-brand-sx .container-brand .brand img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.container-login-register {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-login-register .login-register {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.container-login-register .login-register .route-login-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
}
.container-login-register .login-register .route-login-register .cart i {
  font-size: 20px;
  cursor: pointer;
}
.container-login-register .login-register .route-login-register a {
  text-decoration: none;
  list-style-type: none;
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .container-brand-sx .container-brand {
    padding-left: 20px;
  }
  .container-brand-sx .container-brand .brand {
    font-size: 40px;
  }
  .container-login-register {
    justify-content: flex-end;
  }
  .container-login-register .login-register {
    display: flex;
    flex-direction: row;
  }
  .container-login-register .login-register .route-login-register {
    flex-direction: row;
    padding-right: 0;
  }
  .container-login-register .login-register .route-login-register .cart i {
    font-size: 25px;
    margin-right: 20px;
  }
  .container-login-register .login-register .route-login-register a {
    margin-right: 30px;
    font-size: 25px;
    display: inline;
  }
}
@media screen and (min-width: 1024px) {
  .container-brand-sx .container-brand .brand {
    font-size: 50px;
  }

  .container-login-register {
    justify-content: flex-end;
  }
  .container-login-register .login-register {
    display: flex;
    flex-direction: row;
  }
}
.container-general-login {
  height: 100vh;
  background-color: #101927;
}

.container-form-login {
  padding-top: 100px;
}

.card-login {
  width: 80%;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e3e8f1;
}
.card-login .card-header-login {
  font-size: 30px;
  margin: 20px 0 20px 0;
  text-align: center;
}
.card-login .card-body-login {
  padding: 0 20px;
}

.form-group {
  margin-bottom: 20px;
}
.form-group .label-email-address, .form-group .label-password {
  font-size: 18px;
}
.form-group .container-input-email input, .form-group .container-input-password input {
  width: 100%;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
}

.form-check .form-check-label {
  font-size: 18px;
  margin-left: 5px;
}

.container-button-login {
  display: flex;
  justify-content: center;
}
.container-button-login .button-login {
  font-size: 20px;
  padding: 5px 20px;
  background-color: #00ccbc;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.forgot-password {
  text-align: center;
  padding: 25px 0 5px 0;
}
.forgot-password a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 1024px) {
  .card-login {
    width: 60%;
  }
  .card-login .card-header-login {
    font-size: 40px;
  }
  .card-login .card-body-login {
    padding: 0 50px;
  }

  .form-check .form-check-label {
    font-size: 20px;
  }

  .container-button-login .button-login {
    font-size: 30px;
  }

  .forgot-password a {
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  .card-login {
    width: 50%;
  }
  .card-login .card-header-login {
    font-size: 50px;
  }
  .card-login .card-body-login {
    padding: 0 100px;
  }

  .form-group .label-email-address-login, .form-group .label-password-login {
    font-size: 30px;
  }
  .form-check .form-check-label {
    font-size: 20px;
  }

  .container-button-login .button-login {
    font-size: 30px;
  }

  .forgot-password a {
    font-size: 20px;
  }
}
.container-general-register {
  height: 100vh;
  background-color: #101927;
}

.container-form-register {
  padding-top: 100px;
}

.card-register {
  width: 80%;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e3e8f1;
}

.card-header-register {
  font-size: 30px;
  margin: 20px 0 20px 0;
  text-align: center;
}

.card-body-register {
  padding: 0 20px;
}

.form-group {
  margin-bottom: 20px;
}
.form-group .label-name, .form-group .label-email-address-register, .form-group .label-password-register, .form-group .label-confirm-password, .form-group .label-address, .form-group .label-vat-number {
  font-size: 20px;
}
.form-group .container-input-password input, .form-group .container-input-email-address input,
.form-group .container-input-name input, .form-group .container-input-confirm-password input, .form-group .container-input-address input, .form-group .container-input-vat-number input {
  width: 100%;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
}
.form-group .container-button-register {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.form-group .container-button-register .button-register {
  font-size: 20px;
  padding: 10px 40px;
  background-color: #00ccbc;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .card-register {
    width: 60%;
  }
  .card-register .card-header-register {
    font-size: 40px;
  }
  .card-register .card-body-register {
    padding: 0 50px;
  }

  .container-button-register .button-register {
    font-size: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .card-register {
    width: 50%;
  }
  .card-register .card-header-register {
    font-size: 50px;
  }
  .card-register .card-body-register {
    padding: 0px 70px;
  }

  .form-group .label-name, .form-group .label-email-address-register, .form-group .label-password-register, .form-group .label-confirm-password, .form-group .label-address, .form-group .label-vat-number {
    font-size: 30px;
  }
  .form-group .container-button-register .button-register {
    font-size: 30px;
  }
}
.dashboard-restaurant-index .dashboard-header-restaurant-index {
  background-color: #101927;
  padding: 10px;
  border-bottom: 1px solid #000;
}
.dashboard-restaurant-index .dashboard-header-restaurant-index h1 {
  color: #e3e8f1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
}
.dashboard-restaurant-index .dashboard-body-restaurant-index {
  display: flex;
  height: calc(100vh - 100px - 48px);
}
.dashboard-restaurant-index .dashboard-body-restaurant-index .dashboard-body-menu-restaurant-index {
  background-color: #101927;
  height: 100%;
  flex-basis: 40%;
}
.dashboard-restaurant-index .dashboard-body-restaurant-index .dashboard-body-menu-restaurant-index ul li {
  border-bottom: 1px solid #e3e8f1;
  padding: 10px;
}
.dashboard-restaurant-index .dashboard-body-restaurant-index .dashboard-body-menu-restaurant-index ul li a {
  color: #e3e8f1;
  text-decoration: none;
  font-size: 20px;
}
.dashboard-restaurant-index .dashboard-body-restaurant-index .dashboard-body-menu-restaurant-index ul li a:hover {
  color: #00ccbc;
}

.dashboard-body-content-restaurant-index {
  background-color: #e3e8f1;
  height: 100%;
  flex-basis: 80%;
  overflow-y: scroll;
}
.dashboard-body-content-restaurant-index .container-restaurant-index {
  height: 100%;
}
.dashboard-body-content-restaurant-index .container-restaurant-index .title-restaurant-index {
  padding: 20px 10px;
}
.dashboard-body-content-restaurant-index .container-restaurant-index .title-restaurant-index h1 {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
.dashboard-body-content-restaurant-index .restaurants-index {
  display: flex;
  flex-wrap: wrap;
}
.dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index {
  flex-basis: 100%;
  background-color: #101927;
  border: 3px solid #00ccbc;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .title-restaurant-card {
  text-align: center;
  color: #e3e8f1;
  font-size: 15px;
}
.dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .title-restaurant-card h4 {
  color: #00ccbc;
  font-size: 25px;
}
.dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .body-restaurant-card-index .details-restaurant-card-index {
  padding: 20px 0;
}
.dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .body-restaurant-card-index .details-restaurant-card-index p {
  padding: 5px 0;
  color: #00ccbc;
}
.dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .body-restaurant-card-index .details-restaurant-card-index p strong {
  color: #e3e8f1;
}
.dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .body-restaurant-card-index .action-restaurant-card-index {
  padding: 10px 0;
}
.dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .body-restaurant-card-index .action-restaurant-card-index .container-button-action-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .body-restaurant-card-index .action-restaurant-card-index .container-button-action-index .button-index {
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  border: 3px solid #00ccbc;
  color: #e3e8f1;
  width: 60%;
  text-align: center;
}
.dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .body-restaurant-card-index .action-restaurant-card-index .container-button-action-index .button-index:hover {
  color: #00ccbc;
}
.dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .body-restaurant-card-index .action-restaurant-card-index .container-button-action-index .button-dettagli-index {
  background-color: #4169E1;
}
.dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .body-restaurant-card-index .action-restaurant-card-index .container-button-action-index .button-ordini-index {
  background-color: green;
}
.dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .body-restaurant-card-index .action-restaurant-card-index .container-button-action-index .button-modifica-index {
  background-color: #FFA500;
}
.dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .body-restaurant-card-index .action-restaurant-card-index .container-button-action-index .button-elimina-index {
  background-color: #DC143C;
}

@media screen and (min-width: 500px) {
  .container-restaurant-index .title-restaurant-index .restaurants-index .restaurant-card-index {
    max-width: 80%;
  }

  .container-restaurant-index .restaurants-index {
    justify-content: center;
  }
  .container-restaurant-index .restaurants-index .container-restaurant-index .restaurants-index .restaurant-card-index {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 768px) {
  .dashboard-restaurant-index .dashboard-body-restaurant-index .dashboard-body-menu-restaurant-index {
    flex-basis: 25%;
  }
  .dashboard-restaurant-index .dashboard-body-restaurant-index .dashboard-body-menu-restaurant-index ul li {
    padding: 20px;
  }
  .dashboard-restaurant-index .dashboard-body-restaurant-index .dashboard-body-menu-restaurant-index ul li a {
    font-size: 25px;
  }
  .container-restaurant-index .restaurants-index .restaurant-card-index {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .dashboard-restaurant-index .dashboard-body-restaurant-index .dashboard-body-menu-restaurant-index {
    flex-basis: 20%;
  }

  .dashboard-body-content-restaurant-index .container-restaurant-index .title-restaurant-index h1 {
    font-size: 40px;
  }
  .dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index {
    flex-basis: 30%;
  }
  .dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .title-restaurant-card {
    font-size: 20px;
  }
  .dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .title-restaurant-card h4 {
    font-size: 30px;
  }
  .dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .body-restaurant-card-index .details-restaurant-card-index p {
    font-size: 20px;
  }
  .dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .body-restaurant-card-index .details-restaurant-card-index p strong {
    font-size: 20px;
  }
  .dashboard-body-content-restaurant-index .restaurants-index .restaurant-card-index .body-restaurant-card-index .action-restaurant-card-index .container-button-action-index .button-index {
    width: 50%;
  }
}
.dashboard-restaurant-create .dashboard-header-restaurant-create {
  background-color: #101927;
  padding: 10px;
  border-bottom: 3px solid #00ccbc;
}
.dashboard-restaurant-create .dashboard-header-restaurant-create h1 {
  color: #e3e8f1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
}
.dashboard-restaurant-create .dashboard-body-restaurant-create .dashboard-body-menu-restaurant-create {
  background-color: #101927;
}
.dashboard-restaurant-create .dashboard-body-restaurant-create .dashboard-body-menu-restaurant-create ul li {
  border-bottom: 3px solid #00ccbc;
  padding: 15px;
}
.dashboard-restaurant-create .dashboard-body-restaurant-create .dashboard-body-menu-restaurant-create ul li a {
  color: #e3e8f1;
  font-size: 20px;
  text-decoration: none;
}
.dashboard-restaurant-create .dashboard-body-restaurant-create .dashboard-body-menu-restaurant-create ul li a:hover {
  color: #00ccbc;
}
.dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create {
  width: 90%;
  margin: 50px auto;
  background-color: #101927;
  border-radius: 10px;
  border: 3px solid #00ccbc;
}
.dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create .card-title-restaurant-create {
  text-align: center;
  padding: 30px 0;
  font-size: 20px;
  text-transform: uppercase;
  color: #e3e8f1;
}
.dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create form .content-form-restaurant-create {
  text-align: center;
  padding: 0 10px;
}
.dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create form .content-form-restaurant-create h3 {
  color: #e3e8f1;
  font-size: 20px;
  text-align: left;
}
.dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create form .content-form-restaurant-create .content-form-input-restaurant-create input {
  padding: 15px 0;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  background-color: #e3e8f1;
  border: 3px solid #00ccbc;
}
.dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create form .content-form-restaurant-create .content-form-category-restaurant-create {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #e3e8f1;
  border: 3px solid #00ccbc;
}
.dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create form .content-form-restaurant-create .content-form-category-restaurant-create input {
  border: 1px solid #101927;
  border-radius: 5px;
}
.dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create form .content-form-restaurant-create .content-form-category-restaurant-create .form-check-restaurant-create {
  display: flex;
}
.dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create form .content-form-restaurant-create .content-form-category-restaurant-create .form-check-restaurant-create label {
  padding-left: 10px;
}
.dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create form .content-form-restaurant-create .content-form-file-restaurant-create {
  margin: 20px 0;
  text-align: left;
}
.dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create form .content-form-restaurant-create .content-form-file-restaurant-create input {
  background-color: #e3e8f1;
  border-radius: 5px;
  width: 100%;
}
.dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create form .content-form-restaurant-create button {
  background-color: #e3e8f1;
  color: #101927;
  text-transform: uppercase;
  border: 3px solid #00ccbc;
  padding: 20px;
  margin: 10px 0 20px 0;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}
.dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create form .content-form-restaurant-create button:hover {
  color: #00ccbc;
}

@media screen and (min-width: 768px) {
  .dashboard-restaurant-create .dashboard-body-restaurant-create {
    display: flex;
    height: calc(100vh - 100px - 48px);
  }
  .dashboard-restaurant-create .dashboard-body-restaurant-create .dashboard-body-menu-restaurant-create {
    flex-basis: 20%;
  }
  .dashboard-restaurant-create .dashboard-body-content-restaurant-create {
    flex-basis: 80%;
  }
  .dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create {
    width: 70%;
    margin: 20px auto;
  }
}
@media screen and (min-width: 1024px) {
  .dashboard-restaurant-create .dashboard-body-restaurant-create {
    display: flex;
    height: calc(100vh - 100px - 48px);
  }
  .dashboard-restaurant-create .dashboard-body-restaurant-create .dashboard-body-menu-restaurant-create {
    flex-basis: 20%;
  }
  .dashboard-restaurant-create .dashboard-body-restaurant-create .dashboard-body-menu-restaurant-create ul li a {
    font-size: 25px;
  }
  .dashboard-restaurant-create .dashboard-body-content-restaurant-create {
    flex-basis: 80%;
  }
  .dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create {
    margin: 30px auto;
    width: 60%;
  }
  .dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create form .content-form-restaurant-create .content-form-file-restaurant-create {
    margin: 20px 0;
    text-align: left;
  }
  .dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create form .content-form-restaurant-create .content-form-file-restaurant-create input {
    background-color: #e3e8f1;
    width: 60%;
  }
}
@media screen and (min-width: 1300px) {
  .dashboard-restaurant-create .dashboard-body-content-restaurant-create .card-form-restaurant-create {
    width: 40%;
  }
}
.container-general-dashboard {
  height: 100vh;
  background-color: #101927;
}

.container-card {
  padding-top: 100px;
}

.card-dashboard {
  width: 80%;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e3e8f1;
}
.card-dashboard .card-header-dashboard {
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
}

.card-body-dashboard {
  padding: 0 30px;
  color: red;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.container-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.container-button button {
  padding: 10px;
  background-color: #00ccbc;
  margin: 10px 30px;
  width: 80%;
  border-radius: 10px;
}
.container-button button a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .card-dashboard {
    width: 70%;
  }
  .card-dashboard .card-header-dashboard {
    font-size: 40px;
    margin: 30px 0;
  }

  .card-body-dashboard {
    color: red;
    font-size: 20px;
  }

  .container-button {
    flex-direction: row;
    margin: 50px 0;
  }
  .container-button button {
    padding: 15px;
    margin: 0px 20px;
  }
}
@media screen and (min-width: 1400px) {
  .card-dashboard {
    width: 50%;
  }
  .card-dashboard .card-header-dashboard {
    font-size: 50px;
    margin: 30px 0;
  }

  .card-body-dashboard {
    color: red;
    font-size: 30px;
  }

  .container-button {
    flex-direction: row;
    margin: 50px 0;
  }
  .container-button button {
    padding: 15px;
    margin: 0px 50px;
  }
}
.dashboard-restaurant-show .dashboard-header-restaurant-show {
  background-color: #101927;
  padding: 10px;
  border-bottom: 1px solid #000;
}
.dashboard-restaurant-show .dashboard-header-restaurant-show a {
  text-decoration: none;
}
.dashboard-restaurant-show .dashboard-header-restaurant-show a h1 {
  color: #e3e8f1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
}
.dashboard-restaurant-show .dashboard-body-restaurant-show {
  display: flex;
  height: calc(100vh - 100px - 48px);
}
.dashboard-restaurant-show .dashboard-body-restaurant-show .dashboard-body-menu-restaurant-show {
  background-color: #101927;
  height: 100%;
  flex-basis: 40%;
}
.dashboard-restaurant-show .dashboard-body-restaurant-show .dashboard-body-menu-restaurant-show ul li {
  border-bottom: 1px solid #e3e8f1;
  padding: 15px;
}
.dashboard-restaurant-show .dashboard-body-restaurant-show .dashboard-body-menu-restaurant-show ul li a {
  color: #e3e8f1;
  font-size: 20px;
  text-decoration: none;
}
.dashboard-restaurant-show .dashboard-body-restaurant-show .dashboard-body-menu-restaurant-show ul li a:hover {
  color: #00ccbc;
}
.dashboard-restaurant-show .dashboard-body-restaurant-show .dashboard-body-content-restaurant-show {
  background-color: #e3e8f1;
  height: 100%;
  flex-basis: 80%;
  overflow-y: scroll;
}

.container-restaurant-show .title-show {
  text-align: center;
  padding: 20px 0;
  color: #101927;
  text-transform: uppercase;
  font-size: 25px;
}
.container-restaurant-show .title-restaurant-show {
  border: 3px solid #00ccbc;
  background-color: #101927;
  padding: 10px;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}
.container-restaurant-show .title-restaurant-show h3 {
  padding-bottom: 20px;
  color: #00ccbc;
}
.container-restaurant-show .title-restaurant-show h3 strong {
  color: #e3e8f1;
}
.container-restaurant-show .button-create-order {
  text-align: center;
}
.container-restaurant-show .button-create-order .show {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
  color: #e3e8f1;
  font-size: 13px;
}
.container-restaurant-show .button-create-order .button-new-show {
  background-color: #00ccbc;
  margin: 10px 0;
  width: 70%;
}
.container-restaurant-show .button-create-order .button-new-show:hover {
  color: #101927;
}
.container-restaurant-show .your-dishes {
  text-align: center;
  padding: 20px 0;
}
.container-restaurant-show .your-dishes h3 {
  text-transform: uppercase;
  color: #101927;
  font-size: 20px;
}
.container-restaurant-show .restaurants-show {
  display: flex;
  flex-wrap: wrap;
}
.container-restaurant-show .restaurants-show .restaurant-card-show {
  flex-basis: 90%;
  background-color: #B0C4DE;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 10px;
}
.container-restaurant-show .restaurants-show .restaurant-card-show .body-restaurant-card-show h3 {
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
  color: #101927;
}
.container-restaurant-show .restaurants-show .restaurant-card-show .body-restaurant-card-show img {
  max-width: 100%;
}
.container-restaurant-show .restaurants-show .details-restaurant-card-show {
  padding: 20px 0;
}
.container-restaurant-show .restaurants-show .container-button-action-show {
  text-align: center;
}
.container-restaurant-show .restaurants-show .container-button-action-show .button-show {
  margin-bottom: 10px;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  color: #e3e8f1;
  border-radius: 10px;
  font-size: 20px;
  width: 80%;
  border: 3px solid #101927;
}
.container-restaurant-show .restaurants-show .container-button-action-show .button-show:hover {
  color: #00ccbc;
}
.container-restaurant-show .restaurants-show .container-button-action-show .button-dettagli-show {
  background-color: #4169E1;
}
.container-restaurant-show .restaurants-show .container-button-action-show .button-modifica-show {
  background-color: #FFA500;
}
.container-restaurant-show .restaurants-show .container-button-action-show .button-elimina-show {
  background-color: #dc143c;
}

@media screen and (min-width: 768px) {
  .dashboard-restaurant-show .dashboard-body-restaurant-show .dashboard-body-menu-restaurant-show {
    flex-basis: 25%;
  }

  .container-restaurant-show .restaurants-show {
    justify-content: center;
  }

  .container-restaurant-show .title-show {
    font-size: 30px;
  }
  .container-restaurant-show .title-restaurant-show {
    width: 70%;
  }
  .container-restaurant-show .button-create-order .button-new-show {
    width: 50%;
  }
  .container-restaurant-show .your-dishes h3 {
    font-size: 30px;
  }
  .container-restaurant-show .restaurants-show .restaurant-card-show {
    flex-basis: 70%;
  }
  .container-restaurant-show .restaurants-show .container-button-action-show .button-show {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .dashboard-restaurant-show .dashboard-body-restaurant-show .dashboard-body-menu-restaurant-show {
    flex-basis: 20%;
  }

  .container-restaurant-show .restaurants-show {
    justify-content: center;
  }

  .container-restaurant-show .title-show {
    font-size: 40px;
  }
  .container-restaurant-show .title-restaurant-show {
    width: 50%;
  }
  .container-restaurant-show .button-create-order .button-new-show {
    width: 40%;
    margin: 5px;
  }
  .container-restaurant-show .your-dishes h3 {
    font-size: 40px;
  }
  .container-restaurant-show .restaurants-show .restaurant-card-show {
    flex-basis: 50%;
  }
  .container-restaurant-show .restaurants-show .container-button-action-show .button-show {
    width: 30%;
    margin: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .dashboard-restaurant-show .dashboard-body-restaurant-show .dashboard-body-menu-restaurant-show {
    flex-basis: 20%;
  }

  .container-restaurant-show .restaurants-show {
    justify-content: center;
  }

  .container-restaurant-show .title-show {
    font-size: 40px;
  }
  .container-restaurant-show .title-restaurant-show {
    width: 30%;
  }
  .container-restaurant-show .button-create-order .button-new-show {
    width: 40%;
    margin: 5px;
  }
  .container-restaurant-show .your-dishes h3 {
    font-size: 40px;
  }
  .container-restaurant-show .restaurants-show .restaurant-card-show {
    flex-basis: 30%;
  }
  .container-restaurant-show .restaurants-show .container-button-action-show .button-show {
    width: 40%;
    margin: 5px;
  }
}
.dashboard-restaurant-edit .dashboard-header-restaurant-edit {
  background-color: #101927;
  padding: 10px;
  border-bottom: 3px solid #00ccbc;
}
.dashboard-restaurant-edit .dashboard-header-restaurant-edit h1 {
  color: #e3e8f1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
}
.dashboard-restaurant-edit .dashboard-body-restaurant-edit .dashboard-body-menu-restaurant-edit {
  background-color: #101927;
}
.dashboard-restaurant-edit .dashboard-body-restaurant-edit .dashboard-body-menu-restaurant-edit ul li {
  border-bottom: 3px solid #00ccbc;
  padding: 15px;
}
.dashboard-restaurant-edit .dashboard-body-restaurant-edit .dashboard-body-menu-restaurant-edit ul li a {
  color: #e3e8f1;
  font-size: 20px;
  text-decoration: none;
}
.dashboard-restaurant-edit .dashboard-body-restaurant-edit .dashboard-body-menu-restaurant-edit ul li a:hover {
  color: #00ccbc;
}
.dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit {
  width: 90%;
  margin: 50px auto;
  background-color: #101927;
  border-radius: 10px;
  border: 3px solid #00ccbc;
}
.dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit .card-title-restaurant-edit {
  text-align: center;
  padding: 30px 0;
  font-size: 20px;
  text-transform: uppercase;
  color: #e3e8f1;
}
.dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit form .content-form-restaurant-edit {
  text-align: center;
  padding: 0 10px;
}
.dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit form .content-form-restaurant-edit h3 {
  color: #e3e8f1;
  font-size: 20px;
  text-align: left;
}
.dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit form .content-form-restaurant-edit .content-form-input-restaurant-edit input {
  padding: 15px 0;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  background-color: #e3e8f1;
  border: 3px solid #00ccbc;
}
.dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit form .content-form-restaurant-edit .content-form-category-restaurant-edit {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #e3e8f1;
  border: 3px solid #00ccbc;
}
.dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit form .content-form-restaurant-edit .content-form-category-restaurant-edit input {
  border: 1px solid #101927;
  border-radius: 5px;
}
.dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit form .content-form-restaurant-edit .content-form-category-restaurant-edit .form-check-restaurant-edit {
  display: flex;
}
.dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit form .content-form-restaurant-edit .content-form-category-restaurant-edit .form-check-restaurant-edit label {
  padding-left: 10px;
}
.dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit form .content-form-restaurant-edit .content-form-file-restaurant-edit {
  margin: 20px 0;
  text-align: left;
}
.dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit form .content-form-restaurant-edit .content-form-file-restaurant-edit input {
  background-color: #e3e8f1;
  border-radius: 5px;
  width: 100%;
}
.dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit form .content-form-restaurant-edit .button-edit {
  background-color: #e3e8f1;
  color: #101927;
  text-transform: uppercase;
  border: 3px solid #00ccbc;
  padding: 20px;
  margin: 10px 0 20px 0;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}
.dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit form .content-form-restaurant-edit .button-edit:hover {
  color: #00ccbc;
}

@media screen and (min-width: 768px) {
  .dashboard-restaurant-edit .dashboard-body-restaurant-edit {
    display: flex;
    height: calc(100vh - 100px - 48px);
  }
  .dashboard-restaurant-edit .dashboard-body-restaurant-edit .dashboard-body-menu-restaurant-edit {
    height: 100%;
    flex-basis: 20%;
  }
  .dashboard-restaurant-edit .dashboard-body-restaurant-edit .dashboard-body-menu-restaurant-edit ul li a {
    font-size: 25px;
  }
  .dashboard-restaurant-edit .dashboard-body-content-restaurant-edit {
    flex-basis: 80%;
  }
  .dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit {
    width: 70%;
    margin: 20px auto;
  }
}
@media screen and (min-width: 1024px) {
  .dashboard-restaurant-edit .dashboard-body-restaurant-edit {
    display: flex;
    height: calc(100vh - 100px - 48px);
  }
  .dashboard-restaurant-edit .dashboard-body-restaurant-edit .dashboard-body-menu-restaurant-edit {
    flex-basis: 20%;
  }
  .dashboard-restaurant-edit .dashboard-body-content-restaurant-edit {
    flex-basis: 80%;
  }
  .dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit {
    margin: 30px auto;
    width: 60%;
  }
  .dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit form .content-form-restaurant-edit .content-form-file-restaurant-edit {
    margin: 20px 0;
    text-align: left;
  }
  .dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit form .content-form-restaurant-edit .content-form-file-restaurant-edit input {
    background-color: #e3e8f1;
    width: 60%;
  }
}
@media screen and (min-width: 1300px) {
  .dashboard-restaurant-edit .dashboard-body-content-restaurant-edit .card-form-restaurant-edit {
    width: 40%;
  }
}
@media screen and (min-width: 200px) {
  .dashboard-dishes-index .dashboard-header-dishes-index {
    background-color: #101927;
    padding: 10px;
    border-bottom: 1px solid #000;
  }
  .dashboard-dishes-index .dashboard-header-dishes-index h1 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 25px;
  }
  .dashboard-dishes-index .dashboard-body-dishes-index {
    display: flex;
    height: calc(100vh - 100px - 48px);
  }
  .dashboard-dishes-index .dashboard-body-dishes-index .dashboard-body-menu-dishes-index {
    background-color: #101927;
    height: 100%;
    flex-basis: 40%;
  }
  .dashboard-dishes-index .dashboard-body-dishes-index .dashboard-body-menu-dishes-index ul li {
    border-bottom: 1px solid #c1c1c1;
  }
  .dashboard-dishes-index .dashboard-body-dishes-index .dashboard-body-menu-dishes-index ul li a {
    width: 100%;
    padding: 15px 0;
  }
  .dashboard-dishes-index .dashboard-body-dishes-index .dashboard-body-menu-dishes-index ul li a:hover {
    background-color: #3A5FCD;
  }
  .dashboard-dishes-index .dashboard-body-dishes-index .dashboard-body-content-dishes-index {
    background-color: #e3e8f1;
    height: 100%;
    flex-basis: 80%;
    overflow-y: scroll;
  }

  .container-restaurant-dishes-index .title-dishes-index h1 {
    text-align: center;
  }
  .container-restaurant-dishes-index .dishes-index {
    display: flex;
    flex-wrap: wrap;
  }
  .container-restaurant-dishes-index .dishes-index .dishes-card-index {
    flex-basis: 100%;
    background-color: #B0C4DE;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
  }
  .container-restaurant-dishes-index .dishes-index .dishes-card-index .title-dishes-card-index {
    text-align: center;
  }
  .container-restaurant-dishes-index .dishes-index .dishes-card-index .title-dishes-card-index h1 {
    font-size: 20px;
  }
  .container-restaurant-dishes-index .dishes-index .dishes-card-index .body-dishes-card-index .details-dishes-card-index {
    padding: 20px 0;
  }
  .container-restaurant-dishes-index .dishes-index .dishes-card-index .body-dishes-card-index .action-dishes-card-index .container-button-action-dishes.index {
    text-align: center;
  }
  .container-restaurant-dishes-index .dishes-index .dishes-card-index .body-dishes-card-index .action-dishes-card-index .container-button-action-dishes.index .button-dishes-index {
    margin-bottom: 5px;
  }
  .container-restaurant-dishes-index .dishes-index .dishes-card-index .body-dishes-card-index .action-dishes-card-index .container-button-action-dishes.index .button-dettagli-dishes-index {
    background-color: #4169E1;
  }
  .container-restaurant-dishes-index .dishes-index .dishes-card-index .body-dishes-card-index .action-dishes-card-index .container-button-action-dishes.index .button-modifica-dishes-index {
    background-color: #FFA500;
  }
  .container-restaurant-dishes-index .dishes-index .dishes-card-index .body-dishes-card-index .action-dishes-card-index .container-button-action-dishes.index .button-elimina-dishes-index {
    background-color: red;
  }
}
@media screen and (min-width: 500px) {
  .container-dishes-index .title-dishes-index .dishes-index .dishes-card-index {
    max-width: 80%;
  }

  .container-dishes-index .dishes-index {
    justify-content: center;
  }
  .container-dishes-index .dishes-index .container-dishes-index .dishes-index .dishes-card-index {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 768px) {
  .dashboard-dishes-index .dashboard-body-dishes-index .dashboard-body-menu-dishes-index {
    flex-basis: 25%;
  }

  .container-dishes-index .dishes-index .dishes-card-index {
    flex-basis: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .dashboard-dishes-index .dashboard-body-dishes-index .dashboard-body-menu-dishes-index {
    flex-basis: 20%;
  }
}
.dashboard-order .dashboard-header-order {
  background-color: #101927;
  padding: 10px;
  border-bottom: 1px solid #000;
}
.dashboard-order .dashboard-header-order h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
}
.dashboard-order .dashboard-body-order {
  display: flex;
  height: calc(100vh - 100px - 50px);
}
.dashboard-order .dashboard-body-order .dashboard-body-menu-order {
  background-color: #101927;
  flex-basis: 40%;
  overflow-y: scroll;
}
.dashboard-order .dashboard-body-order .dashboard-body-menu-order .title-restaurant {
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
}
.dashboard-order .dashboard-body-order .dashboard-body-menu-order ol {
  border-bottom: 1px solid #c1c1c1;
  margin-left: 25px;
  color: white;
}
.dashboard-order .dashboard-body-order .dashboard-body-menu-order ol li {
  padding: 20px 5px;
}
.dashboard-order .dashboard-body-order .dashboard-body-menu-order ol li a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}
.dashboard-order .dashboard-body-order .dashboard-body-menu-order ol li a:hover {
  color: #00ccbc;
}
.dashboard-order .dashboard-body-order .dashboard-body-content-order {
  background-color: #e3e8f1;
  height: 100%;
  flex-basis: 60%;
  overflow-y: scroll;
}
.dashboard-order .dashboard-body-order .dashboard-body-content-order .container-restaurant-order .order-title h1 {
  text-align: center;
  font-size: 25px;
  padding: 30px 0;
}
.dashboard-order .dashboard-body-order .restaurants-order .restaurant-card-order {
  background-color: #B0C4DE;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  margin: auto;
}
.dashboard-order .dashboard-body-order .restaurants-order .restaurant-card-order .title-restaurant-card-order h4 {
  text-align: center;
  font-size: 25px;
  padding: 10px 0;
}
.dashboard-order .dashboard-body-order .restaurants-order .restaurant-card-order .body-restaurant-card-order {
  padding: 30px 0 10px 0;
}
.dashboard-order .dashboard-body-order .restaurants-order .restaurant-card-order .body-restaurant-card-order .action-restaurant-card-order .container-btn-action-order {
  text-align: center;
}
.dashboard-order .dashboard-body-order .restaurants-order .restaurant-card-order .body-restaurant-card-order .action-restaurant-card-order .container-btn-action-order .btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}
.dashboard-order .dashboard-body-order .restaurants-order .restaurant-card-order .body-restaurant-card-order .action-restaurant-card-order .container-btn-action-order .btn-dettagli {
  background-color: #4169E1;
  font-size: 15px;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.dashboard-order .dashboard-body-order .restaurants-order .restaurant-card-order .body-restaurant-card-order .action-restaurant-card-order .container-btn-action-order .btn-modifica {
  background-color: #FFA500;
  font-size: 15px;
  padding: 10px 20px;
}

@media screen and (min-width: 768px) {
  .dashboard-order .dashboard-body-order .dashboard-body-menu-order .title-restaurant {
    font-size: 30px;
  }
  .dashboard-order .dashboard-body-order .dashboard-body-menu-order ol li {
    padding: 15px 5px;
  }
  .dashboard-order .dashboard-body-order .dashboard-body-menu-order ol li a {
    font-size: 18px;
  }
  .dashboard-order .dashboard-body-order .dashboard-body-content-order .container-restaurant-order .order-title h1 {
    font-size: 35px;
  }
  .dashboard-order .dashboard-body-order .restaurants-order .restaurant-card-order {
    width: 70%;
    margin: auto;
  }
  .dashboard-order .dashboard-body-order .restaurants-order .restaurant-card-order .title-restaurant-card-order h4 {
    font-size: 30px;
  }
  .dashboard-order .dashboard-body-order .restaurants-order .restaurant-card-order .body-restaurant-card-order .action-restaurant-card-order .container-btn-action-order .btn-dettagli {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .dashboard-order .dashboard-body-order .dashboard-body-menu-order {
    flex-basis: 20%;
  }
  .dashboard-order .dashboard-body-order .dashboard-body-menu-order .title-restaurant {
    font-size: 40px;
  }
  .dashboard-order .dashboard-body-order .dashboard-body-menu-order ol li {
    padding: 15px 5px;
  }
  .dashboard-order .dashboard-body-order .dashboard-body-menu-order ol li a {
    font-size: 20px;
  }
  .dashboard-order .dashboard-body-order .dashboard-body-content-order {
    flex-basis: 80%;
  }
  .dashboard-order .dashboard-body-order .dashboard-body-content-order .container-restaurant-order .order-title h1 {
    font-size: 40px;
  }
  .dashboard-order .dashboard-body-order .restaurants-order .restaurant-card-order {
    width: 40%;
    margin: auto;
  }
  .dashboard-order .dashboard-body-order .restaurants-order .restaurant-card-order .title-restaurant-card-order h4 {
    font-size: 40px;
  }
  .dashboard-order .dashboard-body-order .restaurants-order .restaurant-card-order .body-restaurant-card-order .action-restaurant-card-order .container-btn-action-order .btn-dettagli {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
.container-restaurant-orders-details .title-restaurant-orders-details {
  background-color: #101927;
  border-bottom: 3px solid #00ccbc;
}
.container-restaurant-orders-details .title-restaurant-orders-details h1 {
  text-align: center;
  color: #e3e8f1;
  font-size: 25px;
  padding: 20px 0;
  text-transform: uppercase;
}
.container-restaurant-orders-details .container-form-details {
  background-color: #e3e8f1;
  height: 100vh;
}
.container-restaurant-orders-details .container-form-details .my-restaurant-name {
  text-align: center;
  font-size: 25px;
  padding: 20px 0;
  text-transform: uppercase;
}
.container-restaurant-orders-details .container-form-details .container-form-details-orders .form-details-orders {
  border: 3px solid #00ccbc;
  background-color: #101927;
  width: 90%;
  margin: 20px auto;
}
.container-restaurant-orders-details .container-form-details .container-form-details-orders .form-details-orders ul {
  list-style-type: none;
}
.container-restaurant-orders-details .container-form-details .container-form-details-orders .form-details-orders ul li {
  padding: 10px;
}
.container-restaurant-orders-details .container-form-details .container-form-details-orders .form-details-orders ul li span {
  color: #00ccbc;
  font-size: 20px;
}
.container-restaurant-orders-details .container-form-details .container-form-details-orders .form-details-orders ul li span strong {
  font-size: 20px;
  color: #e3e8f1;
}
.container-restaurant-orders-details .container-form-details .container-form-details-orders .form-details-orders .link-details-order {
  text-align: center;
  padding: 20px 0;
}
.container-restaurant-orders-details .container-form-details .container-form-details-orders .form-details-orders .link-details-order a {
  font-size: 20px;
  text-decoration: none;
  color: #101927;
  border: 3px solid #00ccbc;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  background-color: #e3e8f1;
}
.container-restaurant-orders-details .container-form-details .container-form-details-orders .form-details-orders .link-details-order a:hover {
  color: #00ccbc;
}

@media screen and (min-width: 768px) {
  .container-restaurant-orders-details .title-restaurant-orders-details h1 {
    font-size: 40px;
  }
  .container-restaurant-orders-details .container-form-details .my-restaurant-name {
    font-size: 35px;
  }
  .container-restaurant-orders-details .container-form-details .container-form-details-orders .form-details-orders {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .container-restaurant-orders-details .title-restaurant-orders-details h1 {
    font-size: 40px;
  }
  .container-restaurant-orders-details .container-form-details .my-restaurant-name {
    font-size: 35px;
  }
  .container-restaurant-orders-details .container-form-details .container-form-details-orders .form-details-orders {
    width: 40%;
  }
}
@media screen and (min-width: 1300px) {
  .container-restaurant-orders-details .title-restaurant-orders-details h1 {
    font-size: 40px;
  }
  .container-restaurant-orders-details .container-form-details .my-restaurant-name {
    font-size: 35px;
  }
  .container-restaurant-orders-details .container-form-details .container-form-details-orders .form-details-orders {
    width: 25%;
  }
}
@media screen and (min-width: 200px) {
  .dashboard-dishes-show .dashboard-header-dishes-show {
    background-color: #101927;
    padding: 10px;
    border-bottom: 1px solid #000;
  }
  .dashboard-dishes-show .dashboard-header-dishes-show h1 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 25px;
  }
  .dashboard-dishes-show .dashboard-body-dishes-show {
    display: flex;
    height: calc(100vh - 100px - 48px);
  }
  .dashboard-dishes-show .dashboard-body-dishes-show .dashboard-body-menu-dishes-show {
    background-color: #101927;
    height: 100%;
    flex-basis: 40%;
  }
  .dashboard-dishes-show .dashboard-body-dishes-show .dashboard-body-menu-dishes-show ul li {
    border-bottom: 1px solid #c1c1c1;
  }
  .dashboard-dishes-show .dashboard-body-dishes-show .dashboard-body-menu-dishes-show ul li a {
    width: 100%;
    padding: 15px 0;
  }
  .dashboard-dishes-show .dashboard-body-dishes-show .dashboard-body-menu-dishes-show ul li a:hover {
    background-color: #3A5FCD;
  }
  .dashboard-dishes-show .dashboard-body-dishes-show .dashboard-body-content-dishes-show {
    background-color: #e3e8f1;
    height: 100%;
    flex-basis: 80%;
    overflow-y: scroll;
  }

  .container-restaurant-dishes-show .title-dishes-show h1 {
    text-align: center;
  }
  .container-restaurant-dishes-show .dishes-show {
    display: flex;
    flex-wrap: wrap;
  }
  .container-restaurant-dishes-show .dishes-show .dishes-card-show {
    flex-basis: 100%;
    background-color: #B0C4DE;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
  }
  .container-restaurant-dishes-show .dishes-show .dishes-card-show .title-dishes-card-show {
    text-align: center;
  }
  .container-restaurant-dishes-show .dishes-show .dishes-card-show .title-dishes-card-show h1 {
    font-size: 20px;
  }
  .container-restaurant-dishes-show .dishes-show .dishes-card-show .body-dishes-card-show .details-dishes-card-show {
    padding: 20px 0;
  }
}
@media screen and (min-width: 500px) {
  .container-dishes-show .title-dishes-show .dishes-show .dishes-card-show {
    max-width: 80%;
  }

  .container-dishes-show .dishes-show {
    justify-content: center;
  }
  .container-dishes-show .dishes-show .container-dishes-show .dishes-show .dishes-card-show {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 768px) {
  .dashboard-dishes-show .dashboard-body-dishes-show .dashboard-body-menu-dishes-show {
    flex-basis: 25%;
  }

  .container-dishes-show .dishes-show .dishes-card-show {
    flex-basis: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .dashboard-dishes-show .dashboard-body-dishes-show .dashboard-body-menu-dishes-show {
    flex-basis: 20%;
  }
}
@media screen and (min-width: 200px) {
  .container-general-create {
    background-color: #101927;
    height: 100vh;
  }

  .container-general-create-plate {
    padding: 50px 0 100px 0;
  }

  .container-form-create-plate {
    width: 80%;
    margin: auto;
    background: #e3e8f1;
    border: 5px solid #00ccbc;
    border-radius: 10px;
    padding: 10px;
  }

  .title-create-plate h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 0;
    color: #101927;
  }

  .link-all-plate {
    text-align: center;
    margin: 10px 0 20px 0;
  }
  .link-all-plate .link-plate {
    background-color: #101927;
    border: 3px solid #00ccbc;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #00ccbc;
    display: inline-block;
  }
  .link-all-plate .link-plate:hover {
    background-color: #00ccbc;
    border: 3px solid #101927;
    color: #101927;
  }

  .list {
    margin-bottom: 10px;
  }

  .list-plate label {
    font-size: 20px;
    color: #101927;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 700;
  }
  .list-plate .input {
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 3px solid #00ccbc;
    height: 30px;
  }
  .list-plate .textarea {
    height: 150px;
  }
  .list-plate .check {
    display: inline-block;
  }
  .list-plate .input-search {
    background-color: white;
    color: black;
    border: 3px solid #00ccbc;
    margin: 5px 0;
  }

  .button-create-plate {
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
  .button-create-plate button {
    border-radius: 5px;
    font-size: 20px;
    background-color: #101927;
    padding: 10px;
    color: #00ccbc;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .container-form-create-plate {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .container-form-create-plate {
    width: 30%;
  }

  .title-create-plate h1 {
    font-size: 25px;
  }
}
main .container-restaurant {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
}
main .container-restaurant .content-restaurant {
  padding: 50px 0;
}
main .container-restaurant .content-restaurant .title-restaurant {
  padding-bottom: 20px;
}
main .container-restaurant .content-restaurant .title-restaurant h1 {
  text-align: center;
}
main .container-restaurant .content-restaurant .details-restaurant {
  display: inline-block;
  background-color: #d1d1d1;
  border-radius: 20px;
  padding: 10px;
}
main .container-restaurant .content-restaurant .details-restaurant p {
  padding: 10px 0;
}
main .container-restaurant .content-restaurant .container-list-dishes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
}
main .container-restaurant .content-restaurant .container-list-dishes .card-dish {
  flex-basis: 30%;
  border: 1px solid #d9d9d9;
  margin-top: 20px;
  border-radius: 10px;
}
main .container-restaurant .content-restaurant .container-list-dishes .card-dish h3 {
  padding: 20px;
  text-align: center;
}
main .container-restaurant .content-restaurant .container-list-dishes .card-dish .wp-img-card-dish {
  width: 100%;
  height: 300px;
}
main .container-restaurant .content-restaurant .container-list-dishes .card-dish .wp-img-card-dish img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .container-restaurant .content-restaurant .container-list-dishes .card-dish .cart {
  text-align: center;
  padding: 20px;
}
main .container-restaurant .content-restaurant .container-list-dishes .card-dish .cart span {
  font-size: 20px;
  font-weight: bold;
}
main .container-restaurant .content-restaurant .container-list-dishes .card-dish .cart button {
  width: 30px;
  height: 30px;
  background-color: none;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin: 0 5px;
}