@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1500px;
}

header .header-top {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0;
}

header .header-top .logo {
  width: 150px;
  height: 150px;
}

header .header-top .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

header .header-top .nav-menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-top .nav-menu-top .links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

header .header-top .nav-menu-top .cart i {
  font-size: 30px;
}

header .header-bottom {
  border: 1px solid black;
}

header .header-bottom .nav-menu-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-bottom .nav-menu-bottom ul {
  list-style-type: none;
  display: flex;
}

header .header-bottom .nav-menu-bottom ul li a {
  display: inline-block;
  padding: 20px;
}

footer {
  background-color: #0b0d0f;
}

.container-list {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-list .list ul li {
  list-style-type: none;
  padding-bottom: 10px;
  color: white;
}

.container-social-online {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-social-online .social-online h3 {
  font-size: 15px;
  color: yellow;
  border: 1px solid yellow;
}

.container-social-online .social-online span {
  color: grey;
  font-size: 10px;
}

.container-contact {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-contact .contact a {
  font-size: 15px;
  color: yellow;
}

.container-contact .contact h5 {
  color: grey;
  font-size: 10px;
}

.container-contact .contact ul li {
  list-style-type: none;
  padding-bottom: 10px;
  color: white;
}

