.container-general-edit {

        background-image: url('/images/pizza-spicchi.jpg');
        background-size: cover;
        background-position: center;
        border-top: 5px solid #f5d790;;

        .container-general-edit-plate {

            padding: 50px 0 100px 0;
        }

        .container-form-edit-plate {

            width: 90%;
            margin: auto;
            background: rgba(255, 255, 255, 0.6);
            border: 5px ridge #f5d790;
            border-radius: 10px;
            padding: 10px;
        }

        .title-edit-plate {

                h1 {
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 20px;
                    padding: 10px 0;
                    color: #101927;

                }
            }
        }

    .list {
        margin-bottom: 10px;

    }

    .list-edit-plate {

        label {
            font-size: 20px;
            color: #101927;
            margin-bottom: 5px;
            display: inline-block;
            font-weight: 700;
        }

        .input {
            display: block;
            width: 100%;
            border-radius: 5px;
            border: 3px solid #f5d790;;
            height: 30px;

        }

        .textarea {
            height: 150px;
        }

        .check {
            display: inline-block;
        }

        .input-search {
            background-color: white;
            color: black;
            border: 3px solid #f5d790;
            border-radius: 5px;
            margin: 5px 0;
            width: 100%;
        }

        figure {

            .img-edit-plate {
                max-width: 100%;
                border: 3px solid #f5d790;
                border-radius: 50%;

            }
        }

    }

    .button-edit-plate {
        margin: 20px 0;
        display: flex;
        justify-content: center;


        button {
            border-radius: 10px;
            font-size: 20px;
            background-color: #101927;
            padding: 10px 20px;
            color: #f5d790;;
            cursor: pointer;

            &:hover {
                color: #101927;
                background-color: #f5d790;;

            }
        }
    }



@media screen and (min-width:768px) {

    .container-general-edit {


        .container-general-edit-plate {


        }

        .container-form-edit-plate {

            width: 50%;

        }

        .title-edit-plate {

            h1 {

                font-size: 30px;

            }
        }

        .list-edit-plate {

            label {
                font-size: 25px;

            }

            .input {


            }

            .textarea {

            }

            .check {

            }

            .input-search {

            }
        }
    }
}

@media screen and (min-width:1024px) {

    .container-general-edit {

        .container-general-edit-plate {


        }

        .container-form-edit-plate {

            width: 30%;

        }

        .title-edit-plate {

            h1 {
                font-size: 30px;
            }
        }


        .list-edit-plate {

            label {
                font-size: 25px;

            }

            .input {


            }

            .textarea {

            }

            .check {

            }

            .input-search {

            }
        }
    }
}
