.dashboard-dishes-show {

    .dashboard-header-dishes-show {

        background-color: #101927;
        padding: 10px;
        border-bottom: 3px solid $gold;

        a {
            text-decoration: none;

            h1 {
                color: #e3e8f1;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 25px;
            }
        }
    }

    .dashboard-body-dishes-show {

        display: flex;
        height: calc(100vh - 100px - 45px);

        .dashboard-body-menu-dishes-show {

            background-color: #101927;
            border-right: 3px solid $gold;
            height: 100%;
            flex-basis: 40%;

            ul{

                li {
                    border-bottom: 3px solid $gold;
                    padding:10px;

                    a{
                        color: #e3e8f1;
                        text-decoration: none;
                        font-size: 20px;


                        &:hover {
                            color: $gold;

                        }
                    }
                }
            }

        }
    }
}

.dashboard-body-content-dishes-show{


    flex-basis: 80%;
    overflow-y: scroll;



    .container-restaurant-dishes-show {

        background-image: url('/images/portate-piatti.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;



        .title-dishes-show{

            h1 {
                text-align: center;
                padding: 20px 0;
                text-transform: uppercase;
                font-size: 25px;
                background: rgba(0,0,0,0.5);
                color: #e3e8f1;
            }
        }

        .dishes-show {

            display: flex;
            flex-wrap: wrap;

            .dishes-card-show {
                flex-basis: 90%;
                background: rgba(255, 255, 255, 0.8);
                border: 5px ridge $gold;
                border-radius: 10px;
                margin: 30px auto;
                padding: 10px;

                .title-dishes-card-show {
                    text-align: center;
                    color: #101927;
                    padding: 10px 0;

                    h1 {
                        font-size: 20px;
                    }
                }

                .cover-dishes {

                    img {
                        max-width: 100%;
                    }
                }

                .body-dishes-card-show {

                    .details-dishes-card-show {

                        padding: 20px 0;

                        p {
                            font-size: 20px;
                            color: #101927;
                            padding: 10px 0;
                            font-weight: 700;
                        }

                        span {
                            font-size: 20px;
                            color: #101927;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px){

    .dashboard-dishes-show {

        .dashboard-header-dishes-show {



            a {


                h1 {

                    font-size: 30px;
                }
            }
        }

        .dashboard-body-dishes-show {

            height: calc(100vh - 100px - 51px);


            .dashboard-body-menu-dishes-show {

                flex-basis: 25%;

                ul{

                    li {


                        a{

                            font-size: 26px;


                            &:hover {


                            }
                        }
                    }
                }

            }
        }
    }

    .dashboard-body-content-dishes-show{



        .container-restaurant-dishes-show {

            .title-dishes-show{

                h1 {

                    font-size: 35px;

                }
            }

            .dishes-show {



                .dishes-card-show {
                    flex-basis: 60%;
                    margin: 50px auto;


                    .title-dishes-card-show {


                        h1 {
                            font-size: 25px;
                        }
                    }

                    .cover-dishes {
                        img {

                        }
                    }

                    .body-dishes-card-show {

                        .details-dishes-card-show {



                            p {


                            }

                            span {


                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px){

    .dashboard-dishes-show {

        .dashboard-header-dishes-show {



            a {


                h1 {

                    font-size: 30px;
                }
            }
        }

        .dashboard-body-dishes-show {



            .dashboard-body-menu-dishes-show {

                flex-basis: 20%;

                ul{

                    li {


                        a{

                            font-size: 26px;


                            &:hover {


                            }
                        }
                    }
                }

            }
        }
    }

    .dashboard-body-content-dishes-show{



        .container-restaurant-dishes-show {

            .title-dishes-show{

                h1 {

                    font-size: 40px;

                }
            }

            .dishes-show {



                .dishes-card-show {

                    flex-basis: 35%;



                    .title-dishes-card-show {

                        h1 {
                            font-size: 30px;
                        }
                    }

                    .cover-dishes {
                        img {

                        }
                    }

                    .body-dishes-card-show {

                        .details-dishes-card-show {



                            p {
                                font-size: 25px;

                            }

                            span {
                                font-size: 25px;

                            }
                        }
                    }
                }
            }
        }
    }
}
