@media screen and (min-width: 200px){

    .dashboard-dishes-show {

        // .btn{
        //     display: inline-block;
        //     text-decoration: none;
        //     color: #fff;
        // }

        .dashboard-header-dishes-show {
            background-color: #101927;
            padding: 10px;
            border-bottom: 1px solid #000;

            h1 {
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 25px;
            }
        }
        .dashboard-body-dishes-show {
            display: flex;
            height: calc(100vh - 100px - 48px);

            .dashboard-body-menu-dishes-show{
                background-color: #101927;
                height: 100%;
                flex-basis: 40%;

                ul{
                    li {
                        border-bottom: 1px solid #c1c1c1;
                        a{
                            width: 100%;
                            padding: 15px 0;

                            &:hover {
                                background-color: #3A5FCD;

                            }
                        }
                    }
                }

            }
            .dashboard-body-content-dishes-show{
                background-color: #e3e8f1;
                height: 100%;
                flex-basis: 80%;
                overflow-y: scroll;
            }
        }
    }

    .container-restaurant-dishes-show {

        .title-dishes-show{

            h1 {
                text-align: center;
            }
        }

        // .btn{
        //     display: inline-block;
        //     text-decoration: none;
        //     text-transform: uppercase;
        //     padding: 10px;
        //     border-radius: 5px;
        //     color: #fff;
        // }



        .dishes-show {
            display: flex;
            flex-wrap: wrap;

            .dishes-card-show {
                flex-basis: 100%;
                background-color: #B0C4DE;
                border-radius: 10px;
                margin: 20px;
                padding: 10px;

                .title-dishes-card-show {
                    text-align: center;

                    h1 {
                        font-size: 20px;
                    }
                }

                .body-dishes-card-show {

                    .details-dishes-card-show {
                        padding: 20px 0;
                    }

                    // .action-dishes-card-show {
                    //
                    //     .container-button-action-dishes-show {
                    //
                    //         text-align: center;
                    //
                    //         .button-dishes-show {
                    //             margin-bottom: 5px;
                    //         }
                    //
                    //         .button-dettagli-dishes-show {
                    //             background-color: #4169E1;
                    //         }
                    // 
                    //         .button-modifica-dishes-show {
                    //             background-color: #FFA500;
                    //         }
                    //
                    //         .button-elimina-dishes-show {
                    //             background-color: red;
                    //         }
                    //
                    //     }
                    // }
                }
            }
        }

        }

    }


@media screen and (min-width: 500px){

    .container-dishes-show .title-dishes-show .dishes-show .dishes-card-show {
        max-width: 80%;
    }

    .container-dishes-show .dishes-show {
        justify-content: center;

        .container-dishes-show .dishes-show .dishes-card-show {
            flex-basis: 50%;
        }
    }
}

@media screen and (min-width: 768px){

    .dashboard-dishes-show .dashboard-body-dishes-show .dashboard-body-menu-dishes-show {
        flex-basis: 25%;
    }

    .container-dishes-show .dishes-show .dishes-card-show {
        flex-basis: 40%;
    }


}

@media screen and (min-width: 1024px){

    .dashboard-dishes-show .dashboard-body-dishes-show .dashboard-body-menu-dishes-show {
        flex-basis: 20%;
    }
}
