.container-total-recovery-password {

    background-color: grey;
    height: 100vh;

    .total-recovery-password {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
    }
}

.card-recovery-password {
    border: 3px solid $gold;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;

    .card-header-recovery-password {
        font-size: 25px;
        text-align: center;
        padding: 10px 0;
        color: $gold;
    }
}

.text-recovery-password {

    p {
        font-size: 19px;

    }

}

.card-body-recovery-password {
    padding-top: 15px;
}

.form-recovery-password {

    .label-recovery-password {
        font-size: 20px;
    }


}

.container-input-recovery-password {

    .form-input-recovery-password {
        width: 100%;
        height: 30px;
        margin: 10px 0;
        border-radius: 5px;
        border: 2px solid $gold;
    }
}

.container-button-recovery-password {

    display: flex;
    justify-content: center;

        .button-recovery-password {
            margin: 10px 0;
            font-size: 16px;
            padding: 10px;
            border-radius: 10px;
            color: white;
            background-color: $gold;
            border: none;
            transition: all 0.5s ease-in-out;

            &:hover {
                color: $gold;
                background-color: white;
                border: 1px solid $gold;
                letter-spacing: 2px;
            }
        }

}

@media screen and (min-width:768px) {

    .card-recovery-password {

        width: 70%;
    }
}

@media screen and (min-width:1024px) {

    .card-recovery-password {

        width: 60%;
    }
}

@media screen and (min-width:1200px) {

    .card-recovery-password {

        width: 35%;
    }
}
