footer {
  width: 100%;
  max-height: auto;
  padding: 70px 0;
  background-color: $body-bg;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .container-contact {
    margin-bottom: 20px;
    h5 {
      color: $gold;
      margin: 10px 0;
    }
    li {
      list-style-type: none;
    }
  }

  .container-social-online {
    text-align: center;
    .logo {
      display: flex;
      justify-content: center;
      h1 {
        font-family: 'Ballet', cursive;
        color: $gold;
        font-weight: 700;
      }

    }


    h2, .social a {
      color: #6A6B6D;
    }

    h2 {
      margin: 20px 0;
    }

    a {
      margin: 5px 15px;
    }

  }

  .store {
    width: 150px;
    height: auto;

    a, img {
      width: 100%;
      height: 100%;
    }
  }

  .container-contact,
  .container-social-online,
  .store {
    margin: 20px;
  }
}

@media screen and (min-width: 576px) {
  footer {
    flex-direction: row;
  }
}
