* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1500px;
    margin: auto;
}

#no-border {
    border: 0;
}

body {
  // font-family: 'Raleway', sans-serif;
  font-family: 'Iceberg', cursive;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.btn-go-up {
    border: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    border-radius: 50%;
    background-color: #ccd6dd;
    transition: 1s;
    transform-origin: bottom;
    transform: scale(0);
    padding: 15px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        background-color: $gold;
    }

    i {
        font-size: 30px;
    }
}

.btn-go-up.active {
    transform: scale(1);
}
