.card-category {
  background-color: $body-bg;
  color: $gold;

  .container-card-category {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .menu-filter {
      padding: 10px 30px;
      border-bottom: 1px solid $gold;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        margin-bottom: 10px;
      }

      .selection {
        display: flex;

        .category-select {
          max-width: 70%;
        }

      }

    }

    .container-card {
      margin: auto;

      .cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .card {
          border-radius: 20px;
          border: 1px solid #d2ac7b;
          margin: 0 50px 50px 50px;
          max-width: 400px;
          max-height: 250px;
          position: relative;

          a {
            max-width: 400px;
            max-height: 280px;
            text-decoration: none;
            text-align: center;
            color: #d2ac7b;

            img {
              border-radius: 20px 20px 0 0;
              width: 100%;
              height: 80%;
              object-fit: cover;
              position: relative;
            }

            h3 {
              margin-top: 10px;
            }


          }

        }
      }
    }
  }
}




@media screen and (min-width: 480px) and (max-width: 767px){

}
