.card-category {
    background-color: #040909;

    .container-card {
        margin: auto;

        .cards {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .card {
                background: url('/images/card.jpg');
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                margin: 50px;
                width: 400px;
                height: 250px;

                h1 {
                    display: none;
                }
            }

            .card:hover {
                opacity: 0.5;
            }



            .card:hover h1 {
                color: #fff;
                display: none;
                font-size: 50px;
                position: absolute;
                display: block;
            }
        }
    }
}
