.card-login {
    width: 90%;
    margin: auto;
    border: 3px solid $gold;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

        .card-header-login {
            font-size: 60px;
            margin: 20px 0 20px 0;
            text-align: center;
            color: $gold;
            font-family: 'Ballet', cursive;
        }
            .card-body-login {
                padding: 0 20px;
            }

}

.form-group {
    margin-bottom: 20px;


    .container-input-email, .container-input-password  {

            input {
                font-size: 18px;
                width: 100%;
                height: 40px;
                border: 1px solid $gold;
                border-radius: 5px;
                padding-left: 10px;
            }
        }

        .container-input-password {
            input {
                font-size: 18px;
                width: 100% !important;
                height: 40px !important;
                border: 1px solid $gold !important;
                border-radius: 5px !important;
            }
        }
}



.form-check {

    .form-check-label {
        font-size: 18px;
        margin-left: 5px;
    }

}

.container-button-login {
    display: flex;
    justify-content: center;


    .button-login {
        font-size: 20px;
        padding: 5px 20px;
        background-color: $gold;
        color: #fff;
        border: 1px solid $gold;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        &:hover {
            background-color: #fff;
            color: $gold;
            letter-spacing: 3px;
        }
    }


}

.forgot-password {

    text-align: center;
    padding: 25px 0 5px 0;

        a {
            font-size: 18px;
            text-decoration: none;
            color: black;
            transition: 1s;
            &:hover {
                text-decoration: underline;
                color: $gold;
                letter-spacing: 3px;
            }
        }
}

@media screen and (min-width: 768px){

    .card-login {
        width: 70%;

        .card-header-login {

        }
            .card-body-login {

            }
    }

    .form-check {

        .form-check-label {

        }
    }

    .container-button-login {

        .button-login {

        }
    }

    .forgot-password {
        a {


        }
    }

}





@media screen and (min-width:1024px){

    .card-login {
        width: 60%;

        .card-header-login {
            font-size: 70px;
        }
            .card-body-login {
                padding: 0 50px;
            }
    }

    .form-check {

        .form-check-label {
            font-size: 20px;
        }
    }

    .container-button-login {

        .button-login {
            font-size: 30px;
        }
    }

    .forgot-password {
        a {
            font-size: 20px;

        }
    }

}

@media screen and (min-width:1400px){

    .card-login {
        width: 45%;

        .card-header-login {
            font-size: 50px;
        }
            .card-body-login {
                padding: 0 100px;
            }
    }

    .form-group {


        .label-email-address-login, .label-password-login {
            font-size: 30px;
        }

            .container-input-email, .container-input-password  {

                input {

                }
            }
    }

    .form-check {

        .form-check-label {
            font-size: 20px;

        }

    }

    .container-button-login {

        .button-login {
            font-size: 30px;
        }
    }

    .forgot-password {
        a {
            font-size: 20px;

        }
    }

}
