#app {
    height: 100px;
    background-color: black;
}

.navbar {
    max-width: 1200px;
    height: 100%;
}

.container-general-navbar {
    height: 100%;
    display: flex;

}

.container-brand-navbar {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;


        .navbar-brand {
            text-decoration: none;
            color: #00ccbc;
            font-size: 30px;
            padding-left: 20px;
        }

}

.container-login-register {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

        .navbar-nav {
            display: flex;
            flex-direction: column;

            .nav-item {

                margin-bottom: 5px;

                a {
                    text-decoration: none;
                    list-style-type: none;
                    color: white;
                    font-size: 20px;
                }
            }
        }
}

@media screen and (min-width:768px){

    .container-brand-navbar {


            .navbar-brand {
                padding-left: 40px;
                font-size: 40px;
            }

    }

    .container-login-register {
        justify-content: flex-end;

            .navbar-nav {
                display: flex;
                flex-direction: row;


                .nav-item {
                    margin-bottom: 0;

                    a {
                        margin-right: 40px;
                        font-size: 25px;
                    }
                }
            }
    }

}

@media screen and (min-width:1024px){

    .container-brand-navbar {


            .navbar-brand {
                padding-left: 50px;
                font-size: 50px;
            }

    }

    .container-login-register {
        justify-content: flex-end;

            .navbar-nav {
                display: flex;
                flex-direction: row;


                .nav-item {
                    margin-bottom: 0;

                    a {
                        margin-right: 50px;
                        font-size: 30px;
                    }
                }
            }
    }

}
