#header {
    height: 100px;

}

.container-total {
    height: 100%;
    background-color: #e3e8f1;
}

.container-general-total {
    height: 100%;
    display: flex;

}

.container-brand-sx {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .container-brand{
        padding-left: 10px;
        width: 200px;
        height: 100%;

        .brand {
            display: inline-block;
            width: 100%;
            height: 100%;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}


.container-login-register {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

        .login-register {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .route-login-register {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 10px;

                .cart {
                    i{
                        font-size: 20px;
                        cursor: pointer;
                    }
                }

                a {
                    text-decoration: none;
                    list-style-type: none;
                    color: #000;
                    font-weight: bold;
                    margin-bottom: 5px;
                    display: inline-block;
                }
            }
        }
}

@media screen and (min-width:768px){

    .container-brand-sx {

        .container-brand{
            padding-left: 20px;

            .brand {

                font-size: 40px;

                img{

                }
            }
        }
    }

    .container-login-register {
        justify-content: flex-end;

            .login-register {
                display: flex;
                flex-direction: row;


                .route-login-register {
                    flex-direction: row;
                    padding-right: 0;

                    .cart {
                        i{
                            font-size: 25px;
                            margin-right: 20px;

                        }
                    }

                    a {
                        margin-right: 30px;
                        font-size: 25px;
                        display: inline;
                    }
                }
            }
    }

}

@media screen and (min-width:1024px){

    .container-brand-sx {

        .container-brand{

            .brand {

                font-size: 50px;
            }
        }
    }

    .container-login-register {
        justify-content: flex-end;

            .login-register {
                display: flex;
                flex-direction: row;


                .route-login-register {

                    .cart {

                        i{


                        }
                    }


                    a {

                    }
                }
            }
    }

}
