
main {
    background-color: white;

    .how-to-order{
        border-top: 1px solid $gold;
        border-bottom: 2px solid $gold;
    }

    .container-restaurant {

        background-image: url('/images/bg-prova-2.jpg');
        background-repeat: repeat;


        .content-restaurant {

            h1{
                text-align: center;
                text-transform: uppercase;
                color: $gold;
                padding: 100px 0 40px 0;
                font-size: 45px;

            }


            .details-restaurant{
                display: inline-block;
                margin: 0 20px;
                text-align: center;


                p {
                    padding: 10px 0;
                    color: #bf996b;
                    font-size: 20px;
                }

            }

        }

        .container-list-dishes {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 50px 15px;

            .card-dish{
                flex-basis: 325px;
                min-width: 200px;
                height: 490px;
                margin: 15px;
                box-shadow: 0px 11px 20px 0px rgba(0,0,0,0.26);
                border: 3px solid #fff;
                background-color: #fff;
                transition: 0.5s ease-in-out;

                &:hover {
                    border: 3px solid #d2ac7b;
                    padding: 10px;
                }

                h3 {
                    padding: 18px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #d2ac7b;
                    font-size: 20px;
                }

                .wp-img-card-dish{
                    width: 100%;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }

                p {
                    text-align: center;
                    color: #d2ac7b;
                    font-size: 22px;
                    padding: 5px 0;
                }


                .cart {
                    text-align: center;
                    padding: 20px;

                    span {
                        font-size: 20px;
                        font-weight: bold;
                        color: #d2ac7b;
                    }

                    button {
                        width: 30px;
                        height: 30px;
                        background-color: none;
                        border: 2px solid #d2ac7b;
                        color: #d2ac7b;
                        border-radius: 10px;
                        font-size: 20px;
                        cursor: pointer;
                        margin: 0 5px;
                    }
                }
            }
        }

    }
}
.dishnotavailable {
    opacity: 0.2;
}


@media screen and (min-width: 576px) {
  main .container-restaurant .content-restaurant .details-restaurant {
    display: flex;
    justify-content: space-around;
  }
}
